In [1]:
# Lets first install the selenium library
! pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.25.9)

In [2]:
#Lets now import necessary libraries
import selenium
import pandas as pd
from selenium import webdriver

# Q1 Data Analyst from Naukri.com

In [3]:
#Lets first connect to web driver
driver=webdriver.Chrome("C:\\web driver\\chromedriver.exe")

In [9]:
driver.get('https://www.naukri.com/')

In [10]:
#finding element for job search bar
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Analyst')
search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Bangalore")

In [11]:
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [12]:
#specifing the url of the webpage to be scraped
url="https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore"

In [13]:
# Lets now open required webpage through our webdriver
driver.get(url)

In [14]:
# so now lets first create empty lists. In these lists we will be storing scraped data.
job_titles=[]
company_names=[]
locations_list=[]
experience_list=[]

In [15]:
# so lets extract all the tags having the job-titles
titles_=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="b1a24087af3843b33a128ac706811869", element="4f93a155-6dd0-4591-a3bd-b8056ec28d6d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b1a24087af3843b33a128ac706811869", element="b1e3e298-8156-4640-b7d1-606004458d73")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b1a24087af3843b33a128ac706811869", element="17779183-ec81-4afc-9535-034f30a46176")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b1a24087af3843b33a128ac706811869", element="c8e8e434-6b0c-4bd0-81a0-d66a2c1bed8f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b1a24087af3843b33a128ac706811869", element="7a5164be-b246-4c2f-bde7-02a73b9576a2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b1a24087af3843b33a128ac706811869", element="1d97b856-259e-4dda-adba-e81b716fe3a3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b1a24087af3843b33a128ac706811869", element="b0acd5cb-24b4-4ca1-b524-a4684cda4cb7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b1a24087af3843b33a128ac706811869", element="1f0a0b9c-a2d9-4b3d-a121-8d0fd36b6a68")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b1a24087af3843b33a128ac706811869", element="50272252-93a5-4ac2-a2d8-e0acd95a89b1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b1a24087af3843b33a128ac706811869", element="87268e19-b9e3-4408-9882-c68566416c88")>]

In [16]:
# Now the text of the job title tags extracted above.

# Now we will be run a loop to itereate over the tags extracted above and append it into the created empty list for job_titles.

for i in titles_:
    title=i.text
    job_titles.append(title)
job_titles[0:10]

['MIS/ Data Analyst-(SQL,Automation,Excel/PowerBI,Dashboards) - Contract',
 'Data Analyst - SAP',
 'Hiring Data Analysts on Contract',
 'Senior Data Analyst',
 'Data Analyst',
 'Security Data Analyst',
 'Data Analyst -Azure Data lake, Azure Data factory',
 'Business / Data Analyst',
 'Data Analyst - O2C - Bangalore',
 'Intern Data Analyst']

In [17]:
# Now lets extract all the tags for company names.

company_=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="b1a24087af3843b33a128ac706811869", element="40775b01-b7d5-42cb-b9cf-908f8f33e7e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b1a24087af3843b33a128ac706811869", element="92792fe6-c934-439f-a5e6-2021d8f93a68")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b1a24087af3843b33a128ac706811869", element="54a4ca33-2a4d-4bd6-ab3b-3de6f8bf4355")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b1a24087af3843b33a128ac706811869", element="ef28788a-bd9e-4de0-984a-db11bf159314")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b1a24087af3843b33a128ac706811869", element="dc891808-2613-485a-9fad-89d4ec2dd312")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b1a24087af3843b33a128ac706811869", element="2328537f-f323-498d-9496-a92841fdac88")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b1a24087af3843b33a128ac706811869", element="16f37fef-0390-45da-b2be-c09d6516d63a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b1a24087af3843b33a128ac706811869", element="ac485b65-136b-4972-bd23-47f7ede56f24")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b1a24087af3843b33a128ac706811869", element="cdabe81f-8c4e-4f63-a456-6ee6e80b96ac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b1a24087af3843b33a128ac706811869", element="18147787-c81b-48d5-998b-591b8a6f2ec1")>]

In [18]:
# Now the text of the company names tag are extracted.
# Now we will be running a loop to itereate over the tags extracted above and append it into the created empty list for company_names.

for i in company_:
    company=i.text
    company_names.append(company)
company_names[0:10]

['Flipkart Internet Private Limited',
 'Boston Scientific Corporation',
 'Flipkart Internet Private Limited',
 'Schneider Electric',
 'Shell India Markets Private Limited',
 'Philips India Limited',
 'Mindtree Limited',
 'IBM India Pvt. Limited',
 'RANDSTAD INDIA PVT LTD',
 'Outsource Big Data']

In [19]:
# Now lets extract all the tags having locations.
locations_=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
locations_[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="b1a24087af3843b33a128ac706811869", element="50980777-b531-497b-a525-08236861aedf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b1a24087af3843b33a128ac706811869", element="0ae97e26-b698-44ba-b7ac-1e59597eb088")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b1a24087af3843b33a128ac706811869", element="cc9518cd-f4a9-45fc-ad6f-fc07727cbbd8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b1a24087af3843b33a128ac706811869", element="5b051b4a-4d4d-44b1-ae56-e218dfc8f765")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b1a24087af3843b33a128ac706811869", element="729ec2d2-ccd4-4666-ab79-cf6d3f4bcf4a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b1a24087af3843b33a128ac706811869", element="87923b66-7ac2-41b1-bd0f-40680e2e8168")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b1a24087af3843b33a128ac706811869", element="5b9b9fb5-3f76-4214-b794-a8654be9c427")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b1a24087af3843b33a128ac706811869", element="5d0ef1be-2285-4bf8-9041-2f03654e1d21")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b1a24087af3843b33a128ac706811869", element="59b4cb58-4a7e-4d1a-9cd6-53881df99c45")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b1a24087af3843b33a128ac706811869", element="6ccc3275-7187-4150-b929-03ed75fe4026")>]

In [20]:
# Now we have all the tags about the location of job.

# Now we will be running a loop to itereate over the tags extracted above and append it into the created empty list for locations_list.

for i in locations_:
    location=i.text
    locations_list.append(location)
locations_list[0:10]

['Bengaluru',
 'Pune, Delhi, Bengaluru, Gurgaon',
 'Bengaluru',
 'Bengaluru / Bangalore',
 'Bengaluru',
 'Bengaluru',
 'Chennai, Pune, Bengaluru, Hyderabad',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru']

In [21]:
# Now lets extract all the tags having experience.

experience_=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
experience_[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="b1a24087af3843b33a128ac706811869", element="53f6507b-317b-422d-9fb0-d3e65f072602")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b1a24087af3843b33a128ac706811869", element="a0f8d412-e51e-42ca-b6c4-09628f26ab95")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b1a24087af3843b33a128ac706811869", element="f2f31037-bb34-42cb-a221-c8aea430e071")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b1a24087af3843b33a128ac706811869", element="35d76d7c-56b2-4db9-a83d-7324992f39a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b1a24087af3843b33a128ac706811869", element="8a146f28-0815-496d-bd17-437c0fa7f66a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b1a24087af3843b33a128ac706811869", element="502d1722-5f17-47bc-a0a6-299688a9c51f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b1a24087af3843b33a128ac706811869", element="aedc089d-2ee5-4f13-ac40-4395fdea1ba9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b1a24087af3843b33a128ac706811869", element="3565c659-a1fb-4554-a813-43d833077892")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b1a24087af3843b33a128ac706811869", element="7588c252-344a-4f1d-8480-8fbb37aa676a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b1a24087af3843b33a128ac706811869", element="2f50a727-1b33-4095-94dd-9e616a60feee")>]

In [22]:
# Now we have all the tags having experience required data.

# Now we will be running a loop to itereate over the tags extracted above and append it into the created empty list for experience_list.

for i in experience_:
    experience=i.text
    experience_list.append(experience)
experience_list[0:10]

['1-4 Yrs',
 '3-5 Yrs',
 '2-5 Yrs',
 '2-5 Yrs',
 '5-8 Yrs',
 '2-4 Yrs',
 '5-9 Yrs',
 '2-4 Yrs',
 '2-4 Yrs',
 '0-1 Yrs']

 So, now we have extracted the data required from the webpage and stored them in 4 lists. 
Before creating a dataframe lets first check the length of each of the list because if the length of all the lists are not equal, then a dataframe cannot be formed.

In [18]:
print(len(job_titles),len(company_names),len(experience_list),len(locations_list))

0 0 20 20

In [19]:
# Creating a dataframe.
jobs=pd.DataFrame({})
jobs['Title']=job_titles
jobs['Company']=company_names
jobs['Experience_Required']=experience_list
jobs['Location']=locations_list

In [20]:
jobs[0:10]

   Title  Company Experience_Required                             Location
0    NaN      NaN             1-4 Yrs                            Bengaluru
1    NaN      NaN             3-5 Yrs      Pune, Delhi, Bengaluru, Gurgaon
2    NaN      NaN             2-5 Yrs                            Bengaluru
3    NaN      NaN             2-5 Yrs                Bengaluru / Bangalore
4    NaN      NaN             2-4 Yrs                            Bengaluru
5    NaN      NaN             5-9 Yrs  Chennai, Pune, Bengaluru, Hyderabad
6    NaN      NaN             2-4 Yrs                            Bengaluru
7    NaN      NaN             2-4 Yrs                            Bengaluru
8    NaN      NaN             0-1 Yrs                            Bengaluru
9    NaN      NaN             4-6 Yrs                            Bengaluru

In [23]:
driver.close()

# Q2 Data Scientist from Naukri.com

In [258]:
#Lets first connect to web driver
driver=webdriver.Chrome("C:\\web driver\\chromedriver.exe")

In [259]:
driver.get('https://www.naukri.com/')

In [260]:
#finding element for job search bar
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Scientist')
search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Bangalore")

In [261]:
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [262]:
#specifing the url of the webpage to be scraped
url1="https://www.naukri.com/data-scientist-jobs-in-bangalore?k=data%20scientist&l=bangalore"

In [263]:
# Lets now open required webpage through our webdriver
driver.get(url1)

In [266]:
job=[]
a=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a[1]")
for i in a[0:10]:
    job.append(i.text)
job

['Wrackle Technologies Pvt Ltd',
 'Wrackle Technologies Pvt Ltd',
 'BLUE YONDER INDIA PRIVATE LIMITED',
 'Atos Syntel Private Limited',
 'Tech Mahindra Ltd.',
 'Tech Mahindra Ltd.',
 'AVI Consulting LLP',
 'CES Ltd.',
 'RANDSTAD INDIA PVT LTD',
 'Mindtree Limited']

In [267]:
title=[]
b=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in b[0:10]:
    title.append(i.text)
title

['Data Scientist - Python/ MATLAB/ Machine Learning Algorithms',
 'Lead Data Scientist - Machine Learning/ Data Mining',
 'Data Scientist - Machine Learning (Commerce BU)',
 'Data Scientist',
 'Opening For Sr. Data Scientist @ Tech Mahindra',
 'Opening For Sr. Data Scientist @ Tech Mahindra',
 'Senior Data Scientist - NLP/ Python/ R',
 'Senior Data Scientist | CES IT LTD | CMMI Level 5',
 'Data Scientist and Senior Data Scientist Academic Operations',
 'Sr. Analyst-Data Scientist']

In [268]:
location=[]
c=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
for i in c[0:10]:
    location.append(i.text)
location

['Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Chennai, Pune, Mumbai, Bengaluru',
 'Pune, Bengaluru',
 'Pune, Bengaluru',
 'Bengaluru, Hyderabad',
 'Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, Hyderabad, Kolkata',
 'Bengaluru',
 'Bengaluru']

In [269]:
job=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
urls=[i.get_attribute('href') for i in job[0:10]]
urls

['https://www.naukri.com/job-listings-data-scientist-python-matlab-machine-learning-algorithms-wrackle-technologies-pvt-ltd-bengaluru-bangalore-3-to-8-years-080221905947?src=jobsearchDesk&sid=16133238695939311&xp=1&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-machine-learning-data-mining-wrackle-technologies-pvt-ltd-bengaluru-bangalore-6-to-11-years-080221900886?src=jobsearchDesk&sid=16133238695939311&xp=2&px=1',
 'https://www.naukri.com/job-listings-data-scientist-machine-learning-commerce-bu-blue-yonder-india-private-limited-bengaluru-bangalore-4-to-6-years-010221901825?src=jobsearchDesk&sid=16133238695939311&xp=3&px=1',
 'https://www.naukri.com/job-listings-data-scientist-atos-syntel-private-limited-chennai-pune-mumbai-bengaluru-bangalore-12-to-18-years-220719001543?src=jobsearchDesk&sid=16133238695939311&xp=4&px=1',
 'https://www.naukri.com/job-listings-opening-for-sr-data-scientist-tech-mahindra-tech-mahindra-ltd-pune-bengaluru-bangalore-12-to-20-years-100221001125?src=jobsearchDesk&sid=16133238695939311&xp=5&px=1',
 'https://www.naukri.com/job-listings-opening-for-sr-data-scientist-tech-mahindra-tech-mahindra-ltd-pune-bengaluru-bangalore-12-to-20-years-090221006526?src=jobsearchDesk&sid=16133238695939311&xp=6&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-nlp-python-r-avi-consulting-llp-bengaluru-bangalore-hyderabad-secunderabad-4-to-9-years-081220907155?src=jobsearchDesk&sid=16133238695939311&xp=7&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-ces-it-ltd-cmmi-level-5-ces-ltd-chennai-pune-delhi-ncr-mumbai-bengaluru-bangalore-hyderabad-secunderabad-kolkata-2-to-7-years-151220006902?src=jobsearchDesk&sid=16133238695939311&xp=8&px=1',
 'https://www.naukri.com/job-listings-data-scientist-and-senior-data-scientist-academic-operations-randstad-india-pvt-ltd-bengaluru-bangalore-2-to-5-years-080221007079?src=jobsearchDesk&sid=16133238695939311&xp=9&px=1',
 'https://www.naukri.com/job-listings-sr-analyst-data-scientist-mindtree-limited-bengaluru-bangalore-10-to-15-years-040221502130?src=jobsearchDesk&sid=16133238695939311&xp=10&px=1']

In [270]:
descrp=[]
for i in urls:
    driver.get(i)
    c=driver.find_element_by_xpath("//div[@class='dang-inner-html' or @class='clearboth description' or @class='f14 lh18 alignJ disc-li']")
    descrp.append(c.text)
descrp

['Data Scientist - Data Mining/ Machine Learning/ Statistical Analysis\n\nRequirements :\n\n- 3-9 years of strong experience in data mining, machine learning, and statistical analysis.\n\n- BS/MS/Ph.D. in Computer Science, Statistics, Applied Math, or related areas from Premier institutes ( only IITs / IISc / BITS / Top NITs or top US university should apply)\n\n- Ability to lead and deliver in a fast-paced start-up environment.\n\n- Fluency in tools such as Matlab, Python, etc.\n\n- Strong intuition for data and Keen aptitude on large scale data analysis\n\n- Excellent written and verbal communication skills.\n\n- Ability to collaborate across teams and strong interpersonal skills.',
 'Roles and Responsibilities\nRequirements :\n\n- 6-9 years of strong experience in data mining, machine learning and statistical analysis.\n\n- BS/ MS/ PhD in Computer Science, Statistics, Applied Math, or related areas from Premier institutes ( only IITs / IISc / BITS / Top NITs or top US university should apply)\n\n- Ability to lead and deliver in a fast-paced start-up environment.\n\n- Fluency in tools such as Python/ R/ Matlab etc.\n\n- Strong intuition for data and Keen aptitude on large scale data analysis\n\n- Excellent written and verbal communication skills.\n\n- Ability to collaborate across teams and strong interpersonal skills.',
 'Roles and Responsibilities\nUnder guidance, or independently, design and implement machine learning models by\nProcuring data from platform, client and public data sources\nImplementing data enrichment and cleansing routines\nImplementing features, preparing modeling data sets, feature selection, etc.\nEvaluating candidate models, selecting and reporting on test performance of final one\nEnsuring proper runtime deployment of models, and\nImplementing runtime monitoring of model inputs and performance in order to ensure continued model stability\nWork with product, sales and engineering teams helping shape up the final solution\nUse data to understand patterns, come up with and test hypothesis; iterate\nHelp prepare sales materials, estimate hardware requirements, etc.',
 'Working experience in Artificial Intelligence, Python, R, Machine Learning\nExperience in data mining, Strong math skills (e.g. statistics, algebra)\nStrong programming skills in: R, Python and familiarity with Java, Scala, C - DB/NoSql - MongoDB, Neo4J, MySql. Cassandra, DynamoDB, Redshift\nExperience on Hadoop Map reduce, Pig, Hive, Mahout and Apache Spark, H20\nStrong experience in Data warehousing, ETL, BI (e.g. Tableau, Power BI) and Data Visualization tools (matplotlib, D3.js, Plotly.js, Shiny etc)\nExperience with Deep Learning tools Tensorflow, Theano, Caffe etc. - Elastic Search, NLP background and Machine Learning Platforms\nExperienced in deployment of High performance, Scalable Big Data Hadoop clusters and Web applications on cloud infrastructure (Azure, AWS, Bluemix etc)\nExperience in neural networks, regression, classification and clustering\nDeep industry knowledge on any of the following: Banking, Insurance, Retail Manufacturing\nDeep understanding of Statistical algorithms: Linear and Non-Linear models, classification problem, optimization techniques, Market mix models, A/B Testing and campaign management, Feature ranking/selection techniques, supervised/unsupervised learning, Collaborative filtering, Apriori Market Basket analysis, SVM, Gradient boosting, Survival analysis etc.\nTo help designing, innovating and building our next generation ML architecture\nFull time programming experience within an operation or technical department.\nIdentify valuable data sources and automate collection processes\nUndertake pre-processing of structured and unstructured data\nAnalyze large amounts of information to discover trends and patterns\nBuild predictive models and machine-learning algorithms\nCombine models through ensemble modelling\nPresent information using data visualization techniques\nPropose solutions and strategies to business challenges\nCollaborate with engineering and product development teams\nMentor others in the use of AI/Machine Learning',
 'BE or MS or PhD degree in Computer Science, Artificial Intelligence, Machine Learning, or a related technical field.\nDeep learning experience with Tensorflow and Keras or Pytorch is must\nExperience with the following is preferred\nDifferent data processing libraries such as Numpy, Scipy, Pandas, Matplotlib, Scikit-learn\nExperience with one or more general purpose programming languages including but not limited to: Python (Must), R, Java, or C/C++.\nDifferent Networks CNN, RNN, LSTM, Transformer Based models, GAN, Reinforcement Learning\nFamiliarity with different model architectures AlexNetm, ResNet, MobileNet etc., in Computer Vision & BiLSTM, Bert family models.\nExperience with distribution strategies for data and model parallelism\nDevelopment of mobile applications with tensorflow (TF Lite)\nExperience in the development of End-to-end production based models. Cloud deployment of any machine learning models\nUnderstanding of advanced machine learning data pipelines components including Data Versioning, Code Versioning, Solution Versioning, Drift detection, Model Interpretability & Explainability.\nExperience with Structured Data Machine Learning techniques\nUsed AutoML techniques.\nWorked or knowledge on distributed computing example Spark.\nExperience with open source systems such as MLFlow, DVC, PyCaret, Prophet etc.\n\n\nSalary: Not Disclosed by Recruiter\nIndustry: IT-Software / Software Services\nFunctional Area: Analytics & Business Intelligence\nRole Category: Analytics & BI\nRole: Data Analyst\nEmployment Type: Full Time, Permanent',
 'Role Sr. Data Scientist\n\nExp. 12 – 20 years\n\nLocation – Pune/Bangalore\n\nJob Description:\nBE or MS or PhD degree in Computer Science, Artificial Intelligence, Machine Learning, or a related technical field.\nDeep learning experience with Tensorflow and Keras or Pytorch is must\nExperience with the following is preferred\nDifferent data processing libraries such as Numpy, Scipy, Pandas, Matplotlib, Scikit-learn\nExperience with one or more general purpose programming languages including but not limited to: Python (Must), R, Java, or C/C++.\nDifferent Networks CNN, RNN, LSTM, Transformer Based models, GAN, Reinforcement Learning\nFamiliarity with different model architectures AlexNetm, ResNet, MobileNet etc., in Computer Vision & BiLSTM, Bert family models.\nExperience with distribution strategies for data and model parallelism\nDevelopment of mobile applications with tensorflow (TF Lite)\nExperience in the development of End-to-end production based models. Cloud deployment of any machine learning models\nUnderstanding of advanced machine learning data pipelines components including Data Versioning, Code Versioning, Solution Versioning, Drift detection, Model Interpretability & Explainability.\nExperience with Structured Data Machine Learning techniques\nUsed AutoML techniques.\nWorked or knowledge on distributed computing example Spark.\nExperience with open source systems such as MLFlow, DVC, PyCaret, Prophet etc.\n\n\nSalary: Not Disclosed by Recruiter\nIndustry: IT-Software / Software Services\nFunctional Area: Analytics & Business Intelligence\nRole Category: Analytics & BI\nRole: Data Analyst\nEmployment Type: Full Time, Permanent',
 'Roles and Responsibilities\nSkill : NLP,Semantic model, NER model, Deep Learning\n\nNotice : who can join in a month max\n\nJob description :\n\n- 5+ years of experience using analytical toolslanguages like Python & R on large scale data\n\n- Must have Semantic model & NER experience\n\n- Experience working with pre-trained models, awareness of state-of-art in embeddings and applicability for use cases\n\n- Experience on Deep Learning for Image processing, Video analytics will be a plus\n\n- Must have strong experience in NLPNLGNLU applications using any popular Deep learning frameworks like Open CV, PyTorch, Theano, Tensor Flow, Caffe. Should have implemented solutions for industry use cases.\n\n- Demonstrated ability to engage with client stakeholders at multiple levels and provide consultative solutioning across different domains\n\n- Deep knowledge of techniques such as Linear Regression, gradient descent, Logistic Regression, Forecasting, Cluster analysis, Decision trees, Linear Optimization, Text Mining etc.\n\n- Must have experience in doing POCs\n\n- Strong applied fundamentals in data management, parallel computing and distributed systems; experience in productionizing & retraining models\n\n- Ability to guide and mentor teams of associates on solution development and approaches\n\n- Broad knowledge of fundamentals and state-of-the-art in NLP and machine learning\n\n- Coding skills in one or more programming languages such as Python, Scala, Java, C, C++\n\n- Expert high level of understanding on language semantic concepts & data standardization\n\n- Proven track record of successful models and practical implementation\n\n- Hands-on experience with popular ML frameworks such as TensorFlow\n\n- Experience with application development practices at scale, from problem definition to deployment.\n\n- Familiarity with Cloud services such as AWS, SageMaker etc. is considered a plus\n\n- Develop and apply Statistical Modeling techniques (e.g. Bayesian models and deep neural networks), optimization methods, and other ML techniques to different applications\n\n- Knowledge in Machine Learning techniques in entity resolution, common speech products or text search domain',
 'Roles and Responsibilities\n\nMust have strong Python Programming Skills\nStrong analytical & algorithm development skills\nLogical and Analytical skills must be really strong\nMust have worked in DeepLearning Efforts - Especially computer vision.\nMust have experinece with Object Detection - Custom model training for Object detection\nShould have experience with atleast one or more of these - Tensorflow, Keras, PyTorch\n\nPrimary Skills - Python + tensorflow - Keras / PyTorch, OpenCV\nPerks and Benefits\n\nKindly share your resume to kandavelkumar.lakshmanan @cesltd.com',
 "We are hiring Data Scientist and Senior Data Scientist Academic Operations for our leading EdTech Client.\n\nCall/WhatsApp- Amit-9379292728\nEmail: amitkumar.s@randstad.in\n\nor Fill the google form - https://tinyurl.com/JobAppForm4\n\nJob Responsibilities:\nYour primary job responsibility will include (and not limited to):\nOwn the student's learning outcomes by providing them with support on the topics covered in the\ncurriculum.\nInvolve in the residency class room sessions to facilitate lectures and lab sessions\nBe the first point contact for participants for academic queries and manage discussion\ngroups\nMonitor participants academic performance and make learning interventions in the\nform of remedial sessions, coaching and mentoring\n\nCoordinate with faculty to create best in class learning material - video, reading material,\nassignments, exams\nDesign and conduct examinations to measure the learning outcome of participants\nIdentify & Solve interesting problems involving rich datasets in various domains.\nAccordingly, create capstone projects on the evolving use cases in the industry\nIdentify key emerging trends in the industry and maintain a rich reference material\nAssist program director and senior operations and academics managers in planning\non-campus sessions, preparing schedules, evaluation and grading\nIdentify key reporting metric sand create dashboards to enable quick decision making\nAutomation of manual data collection, data cleansing and exploratory data analysis\nCreate and maintain business and technical requirements\nIdentify technical solutions and perform feasibility analysis\nCreate technical roadmaps for the operations Team\nManage, identify and suggest processes for smoother program management to\nensure a consistent and trouble free learning experience\nCoordinate with IT and Admin to ensure smooth execution at various locations\nTravel to other cities if required to manage residencies\n\nRelevant Background:\nGraduate with an exceptional academic track record\nCompetency: (Top 3)\n1. Passion for learning and having great learning outcomes\n2. Ability to multitask and coordinate with multiple stakeholders\n3. Excellent knowledge in python, tableau and ML concepts",
 'Role Description:\nA Sr. Data Scientist who lead the development of analytics / machine learning / AI models for generating future prediction using data.\nResponsibilities : - Understanding the project requirement\n- Understand if there is any already existing ML model\n- Leading analytics project & provide necessary guidance to the team\n- Understand the data & doing EDA\n- Feature engineering - Building Data Science models\n- Validate & Piloting ML models\n- Model tuning & improvement\nRequired Skills:\n- Sound theoretical knowledge in ML algorithm and their application\n- Strong fundamental on statistics\n- Experience in leading multiple data science projects\n- Hands on experience on Machine learning / data science\n- Strong stakeholder management skills\n- Expert in Python - Hand on experience in SPARK Scala or PySpark\nAdded Advantage:\n- Hands on experience in Azure data bricks\n- Working experience in CPG domain\nSkills Required:\nDATA ANALYSIS, Machine learning, Python, Databricks']

In [271]:
# Creating a dataframe 
jobs=pd.DataFrame({})
jobs['Title']=title[0:10]
jobs['Location']=location[0:10]
jobs['Description']=descrp[0:10]

jobs

,Title,Location,Description
0,Data Scientist - Python/ MATLAB/ Machine Learn...,Bengaluru,Data Scientist - Data Mining/ Machine Learning...
1,Lead Data Scientist - Machine Learning/ Data M...,Bengaluru,Roles and Responsibilities\nRequirements :\n\n...
2,Data Scientist - Machine Learning (Commerce BU),Bengaluru,"Roles and Responsibilities\nUnder guidance, or..."
3,Data Scientist,"Chennai, Pune, Mumbai, Bengaluru","Working experience in Artificial Intelligence,..."
4,Opening For Sr. Data Scientist @ Tech Mahindra,"Pune, Bengaluru","BE or MS or PhD degree in Computer Science, Ar..."
5,Opening For Sr. Data Scientist @ Tech Mahindra,"Pune, Bengaluru",Role Sr. Data Scientist\n\nExp. 12 – 20 years\...
6,Senior Data Scientist - NLP/ Python/ R,"Bengaluru, Hyderabad","Roles and Responsibilities\nSkill : NLP,Semant..."
7,Senior Data Scientist | CES IT LTD | CMMI Level 5,"Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, H...",Roles and Responsibilities\n\nMust have strong...
8,Data Scientist and Senior Data Scientist Acade...,Bengaluru,We are hiring Data Scientist and Senior Data S...
9,Sr. Analyst-Data Scientist,Bengaluru,Role Description:\nA Sr. Data Scientist who le...

# Q3. Scrape data from naukri.com using filters on salary and location.

In [102]:
#Lets first connect to web driver
driver=webdriver.Chrome("C:\web driver\chromedriver.exe")

In [103]:
driver.get('https://www.naukri.com/')

In [104]:
driver.find_element_by_id('qsb-keyword-sugg').send_keys('Data Scientist')
driver.find_element_by_xpath("//div[@class='search-btn']/button").click()

In [105]:
driver.find_element_by_xpath("//label[@for='chk-Delhi/NCR-cityType-']/i").click()

In [108]:
driver.find_element_by_xpath("//label[@for='chk-3-6 Lakhs-ctcFilter-']/i").click()

In [109]:
#specifing the url of the webpage to be scraped
url3="https://www.naukri.com/data-scientist-jobs?k=data%20scientist&cityType=25.9.31&ctcFilter=3to6"

In [110]:
# Lets now open required webpage through our webdriver
driver.get(url3)

In [112]:
tit=[]
a=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in a:
    tit.append(i.text)
tit[0:10]

['Data Scientist',
 'Data Scientist',
 'Senior Data Scientist - Computer Vision',
 'Data Scientist - Machine Learning/ NLP',
 'Only Fresher / Data Scientist / Data Analyst / Analytics - MNC',
 'Data Scientist',
 'Data Scientist - Tableau/Power BI',
 'GCP Skilled Analytics Resources (Data engineer / Data scientists)',
 'Data Scientist - IT',
 'Data Scientist Machine Learning']

In [114]:
loc=[]
t=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
for i in t:
    loc.append(i.text)
loc[0:10]

['Ghaziabad, Bhopal, Lucknow, Kanpur, Rajkot, Bengaluru, Gurgaon, Agra, Bharuch, Jaunpur, Nagpur, Delhi, Mumbai, Jaipur, Jhansi',
 'Gurgaon Gurugram',
 'Delhi NCR',
 'Gurgaon Gurugram',
 'Delhi NCR, Noida, Gurgaon',
 'Gurgaon Gurugram',
 'Delhi',
 'Pune, Bengaluru, Gurgaon',
 'Gurgaon',
 'Gurgaon']

In [115]:
com=[]
r=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in r:
    com.append(i.text)
com[0:10]

['Country Veggie',
 'IBM India Pvt. Limited',
 'IRIS SOFTWARE Inc',
 'TalPro',
 'GABA Consultancy services',
 'Ciena',
 'Talent Stock Solutions',
 'Aerial Telecom Solutions Pvt. Ltd.',
 'Ehireo',
 'Delhivery']

In [117]:
exp=[]
v=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
for i in v:
    exp.append(i.text)
exp[0:10]

['1-3 Yrs',
 '4-8 Yrs',
 '4-9 Yrs',
 '2-6 Yrs',
 '0-0 Yrs',
 '5-6 Yrs',
 '1-3 Yrs',
 '3-8 Yrs',
 '4-9 Yrs',
 '1-3 Yrs']

In [118]:
# Creating a dataframe
jobs=pd.DataFrame({})
jobs['Title']=tit[0:10]
jobs['Location']=loc[0:10]
jobs['Company']=com[0:10]
jobs['Experience']=exp[0:10]
jobs

,Title,Location,Company,Experience
0,Data Scientist,"Ghaziabad, Bhopal, Lucknow, Kanpur, Rajkot, Be...",Country Veggie,1-3 Yrs
1,Data Scientist,Gurgaon Gurugram,IBM India Pvt. Limited,4-8 Yrs
2,Senior Data Scientist - Computer Vision,Delhi NCR,IRIS SOFTWARE Inc,4-9 Yrs
3,Data Scientist - Machine Learning/ NLP,Gurgaon Gurugram,TalPro,2-6 Yrs
4,Only Fresher / Data Scientist / Data Analyst /...,"Delhi NCR, Noida, Gurgaon",GABA Consultancy services,0-0 Yrs
5,Data Scientist,Gurgaon Gurugram,Ciena,5-6 Yrs
6,Data Scientist - Tableau/Power BI,Delhi,Talent Stock Solutions,1-3 Yrs
7,GCP Skilled Analytics Resources (Data engineer...,"Pune, Bengaluru, Gurgaon",Aerial Telecom Solutions Pvt. Ltd.,3-8 Yrs
8,Data Scientist - IT,Gurgaon,Ehireo,4-9 Yrs
9,Data Scientist Machine Learning,Gurgaon,Delhivery,1-3 Yrs

In [272]:
driver.close()

# Q4. Scrape data from Glassdoor.com for Data scientist in Designation  and  Noida as location.

In [54]:
#Lets first connect to web driver
driver=webdriver.Chrome("C:\web driver\chromedriver.exe")

In [55]:
driver.get('https://www.glassdoor.co.in/index.htm')

In [57]:
#finding element for job search bar
from selenium.webdriver.common.keys import Keys
driver.find_element_by_id('sc.keyword').send_keys('Data Scientist')
driver.find_element_by_id('sc.location').send_keys(Keys.BACKSPACE*9,'Noida')

In [58]:
driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']/span").click()

In [60]:
#specifing the url of the webpage to be scraped
url="https://www.glassdoor.co.in/Job/noida-data-scientist-jobs-SRCH_IL.0,5_IC4477468_KO6,20.htm"

In [61]:
# Lets now open required webpage through our webdriver
driver.get(url)

In [73]:
# so now lets first create empty lists. In these lists we will be storing scraped data.
company_names=[]
No_of_days_ago=[]
rating=[]

In [74]:
# so lets extract all the tags having the company names
company=driver.find_elements_by_xpath("//a[@class=' css-l2wjgv e1n63ojh0 jobLink']/span")
for i in company:
    company_names.append(i.text)

In [75]:
company_names

['BlackRock',
 'BlackRock',
 'Adobe',
 'Windows Consultants Pvt. Ltd.',
 'abc consultants',
 'Brickred',
 'Biz2Credit Inc',
 'Terra Economics & Analytics Lab (TEAL)',
 'WishFin',
 'Gauge Data Solutions',
 'Priority Vendor',
 'Microsoft',
 'Healtheoz India',
 'Srijan Technologies Pvt Ltd',
 'Jubna',
 'SearchUrCollege',
 'Ank Aha',
 'Lumiq',
 'Techlive',
 'IMMO',
 'xtLytics',
 'Analytics Vidhya',
 'Salasar New Age Technologies',
 'American Express Global Business Travel',
 'Emerging India Group',
 'Mahajan Imaging',
 'Great Learning',
 'Fitfyles',
 'Axslogic',
 'ESRI, Inc.',
 'THSTI',
 'Profisor Services']

In [76]:
ago=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")
for i in ago:
    No_of_days_ago.append(i.text)
No_of_days_ago

['2d',
 '2d',
 '4d',
 '3d',
 '2d',
 '21d',
 '11d',
 '3d',
 '13d',
 '2d',
 '2d',
 '21d',
 '2d',
 '7d',
 '16d',
 '2d',
 '2d',
 '21d',
 '8d',
 '7d',
 '16d',
 '2d',
 '14d',
 '8d',
 '14d',
 '2d',
 '2d',
 '2d',
 '24h',
 '18d',
 '10d',
 '2d']

In [78]:
rate=driver.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']")
for i in rate:
    rating.append(i.text)
rating

['4.1',
 '4.1',
 '4.4',
 '4.1',
 '3.9',
 '3.7',
 '4.9',
 '4.0',
 '3.1',
 '3.7',
 '4.4',
 '4.8',
 '3.9',
 '4.1',
 '3.6',
 '5.0',
 '3.0',
 '4.1',
 '3.8',
 '4.0',
 '4.1',
 '4.3',
 '4.3',
 '3.9',
 '4.5',
 '4.1',
 '4.1',
 '4.4',
 '4.1',
 '3.9',
 '3.7',
 '4.9',
 '4.0',
 '3.1',
 '3.7',
 '4.4',
 '4.8',
 '3.9',
 '4.1',
 '3.6',
 '5.0',
 '3.0',
 '4.1',
 '3.8',
 '4.0',
 '4.1',
 '4.3',
 '4.3',
 '3.9',
 '4.5']

In [79]:
# Creating a dataframe
jobs=pd.DataFrame({})
jobs['Company']=company_names[0:10]
jobs['No_of_days_ago']=No_of_days_ago[0:10]
jobs['Rating']=rating[0:10]

In [80]:
jobs

                                  Company No_of_days_ago Rating
0                               BlackRock             2d    4.1
1                               BlackRock             2d    4.1
2                                   Adobe             4d    4.4
3           Windows Consultants Pvt. Ltd.             3d    4.1
4                         abc consultants             2d    3.9
5                                Brickred            21d    3.7
6                          Biz2Credit Inc            11d    4.9
7  Terra Economics & Analytics Lab (TEAL)             3d    4.0
8                                 WishFin            13d    3.1
9                    Gauge Data Solutions             2d    3.7

In [81]:
driver.close()

# Q5. Form Glassdoor.com  scrape the salary data for Data Scientist  in designation and in location as Noida.

In [83]:
#Lets first connect to web driver
driver=webdriver.Chrome("C:\web driver\chromedriver.exe")

In [84]:
driver.get('https://www.glassdoor.co.in/Salaries/index.htm')

In [85]:
#finding element for job search bar
from selenium.webdriver.common.keys import Keys
driver.find_element_by_id('KeywordSearch').send_keys('Data Scientist')
driver.find_element_by_id('LocationSearch').send_keys(Keys.BACKSPACE*9,'Noida')

In [86]:
driver.find_element_by_id('HeroSearchButton').click()

In [87]:
#specifing the url of the webpage to be scraped
url2='https://www.glassdoor.co.in/Salaries/new-delhi-data-scientist-salary-SRCH_IL.0,9_IM1083_KO10,24.htm?clickSource=searchBtn'

In [88]:
# Lets now open required webpage through our webdriver
driver.get(url2)

In [90]:
min=[]
a=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[1]")
for i in a:
    min.append(i.text)

In [91]:
min

['₹450K',
 '₹350K',
 '₹336K',
 '₹577K',
 '₹587K',
 '₹717K',
 '₹502K',
 '₹621K',
 '₹793K',
 '₹576K',
 '₹202K',
 '₹972K',
 '₹632K',
 '₹808K',
 '₹1,533K',
 '₹818K',
 '₹86K',
 '₹471K',
 '₹923K',
 '₹792K']

In [92]:
max=[]
a=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[2]")
for i in a:
    max.append(i.text)
max

['₹11,630K',
 '₹1,614K',
 '₹1,010K',
 '₹2,215K',
 '₹2,732K',
 '₹1,575K',
 '₹1,152K',
 '₹1,696K',
 '₹1,264K',
 '₹1,500K',
 '₹1,811K',
 '₹1,885K',
 '₹1,125K',
 '₹1,571K',
 '₹3,239K',
 '₹2,008K',
 '₹1,359K',
 '₹1,658K',
 '₹1,783K',
 '₹1,896K']

In [93]:
comp=[]
b=driver.find_elements_by_xpath("//p[@class='m-0 ']")
for i in b:
    comp.append(i.text)
comp

['Delhivery',
 'Ericsson-Worldwide',
 'Tata Consultancy Services',
 'Accenture',
 'IBM',
 'UnitedHealth Group',
 'Valiance Solutions',
 'Innovaccer',
 'Cognizant Technology Solutions',
 'EXL Service',
 'ZS Associates',
 'OYO',
 'Nagarro',
 'Optum',
 'Sprinklr',
 'dunnhumby',
 'Algo8.ai',
 'Tech Mahindra',
 'Publicis Sapient',
 'WNS']

In [95]:
avg=[]
g=driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']/strong")
for i in g:
    avg.append(i.text)
avg

['₹ 12,64,182',
 '₹ 7,30,968',
 '₹ 5,99,668',
 '₹ 9,94,055',
 '₹ 7,39,040',
 '₹ 13,37,114',
 '₹ 7,80,374',
 '₹ 11,98,792',
 '₹ 10,08,143',
 '₹ 11,34,989',
 '₹ 10,00,000',
 '₹ 14,14,106',
 '₹ 9,81,176',
 '₹ 12,50,079',
 '₹ 15,33,073',
 '₹ 12,91,651',
 '₹ 5,88,751',
 '₹ 10,53,484',
 '₹ 17,00,000',
 '₹ 11,14,262']

In [96]:
jobs=pd.DataFrame({})
jobs['Minimum_salary']=min[0:10]
jobs['Maximum_salary']=max[0:10]
jobs['Company']=comp[0:10]
jobs['Average_salary']=avg[0:10]
jobs

  Minimum_salary Maximum_salary                         Company Average_salary
0          ₹450K       ₹11,630K                       Delhivery    ₹ 12,64,182
1          ₹350K        ₹1,614K              Ericsson-Worldwide     ₹ 7,30,968
2          ₹336K        ₹1,010K       Tata Consultancy Services     ₹ 5,99,668
3          ₹577K        ₹2,215K                       Accenture     ₹ 9,94,055
4          ₹587K        ₹2,732K                             IBM     ₹ 7,39,040
5          ₹717K        ₹1,575K              UnitedHealth Group    ₹ 13,37,114
6          ₹502K        ₹1,152K              Valiance Solutions     ₹ 7,80,374
7          ₹621K        ₹1,696K                      Innovaccer    ₹ 11,98,792
8          ₹793K        ₹1,264K  Cognizant Technology Solutions    ₹ 10,08,143
9          ₹576K        ₹1,500K                     EXL Service    ₹ 11,34,989

In [97]:
driver.close()

# Q6.  Scrape data of first 100 sunglasses listings on flipkart.com.

In [83]:
#Lets first connect to web driver
driver=webdriver.Chrome("C:\web driver\chromedriver.exe")

In [58]:
driver.get(' https://www.flipkart.com/')

In [59]:
#finding element for sunglasses in search bar

driver.find_element_by_xpath("//input[@class='_3704LK']").send_keys('sunglasses')

In [60]:
driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()

In [61]:
#specifing the url of the webpage to be scraped
url3='https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off'

In [62]:
br=[]
a=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
for i in a:
    br.append(i.text)
br

['Royal Son',
 'Spexra',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'PIRASO',
 'Aislin',
 'PIRASO',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'Fastrack',
 'Fastrack',
 'NuVew',
 'Fastrack',
 'Fastrack',
 'PIRASO',
 'Aislin',
 'Gansta',
 'Fastrack',
 'Fastrack',
 'PIRASO',
 'NuVew',
 'Aislin',
 'Deixels',
 'Royal Son',
 'Silver Kartz',
 'NuVew',
 'Silver Kartz',
 'ROZZETTA CRAFT',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'Aislin']

In [63]:
prod=[]
d=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for i in d:
    prod.append(i.text)
prod

['UV Protection Spectacle Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Wrap-around Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Polarized, UV Protection Wayfarer Sunglasses (56)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection, Night Vision, Riding Glasses, Polarized ...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Gradient Butterfly, Wayfarer Sunglasses ...',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Polarized Wayfarer Sunglasses (56)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (58)',
 'Polarized, UV Protection, Gradient Wayfarer, Rectangula...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Mirrored, Night Vision Aviator, Wayfarer...',
 'UV Protection Oval Sunglasses (56)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (59)',
 'UV Protection Wrap-around Sunglasses (Free Size)',
 'Polarized, UV Protection Wayfarer, Rectangular Sunglass...']

In [64]:
pri=[]
e=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
for i in e:
    pri.append(i.text)
pri

['₹664',
 '₹219',
 '₹499',
 '₹499',
 '₹599',
 '₹549',
 '₹599',
 '₹599',
 '₹549',
 '₹896',
 '₹599',
 '₹399',
 '₹314',
 '₹946',
 '₹225',
 '₹499',
 '₹404',
 '₹909',
 '₹649',
 '₹316',
 '₹596',
 '₹499',
 '₹225',
 '₹450',
 '₹284',
 '₹549',
 '₹599',
 '₹349',
 '₹195',
 '₹1,078',
 '₹189',
 '₹242',
 '₹233',
 '₹377',
 '₹251',
 '₹499',
 '₹559',
 '₹899',
 '₹699',
 '₹540']

In [65]:
dis=[]
j=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
for i in j:
    dis.append(i.text)
dis

['66% off',
 '83% off',
 '37% off',
 '37% off',
 '33% off',
 '45% off',
 '33% off',
 '33% off',
 '38% off',
 '31% off',
 '40% off',
 '50% off',
 '80% off',
 '77% off',
 '85% off',
 '77% off',
 '79% off',
 '30% off',
 '27% off',
 '80% off',
 '25% off',
 '44% off',
 '85% off',
 '70% off',
 '85% off',
 '38% off',
 '33% off',
 '86% off',
 '75% off',
 '74% off',
 '89% off',
 '81% off',
 '84% off',
 '69% off',
 '79% off',
 '77% off',
 '30% off',
 '30% off',
 '36% off',
 '77% off']

In [66]:
driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()

In [50]:
#specifing the url of the webpage to be scraped
url4='https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2'

In [67]:
br=[]
a=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
for i in a:
    br.append(i.text)
br

['Gansta',
 'Fastrack',
 'PIRASO',
 'Aislin',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'ALEYBEE',
 'Fravy',
 'NuVew',
 'PIRASO',
 'ROZZETTA CRAFT',
 'Fravy',
 'Aislin',
 'Fastrack',
 'Fastrack',
 'ROZZETTA CRAFT',
 'Gansta',
 'Deixels',
 'NuVew',
 'Gansta',
 'PIRASO',
 'Fravy',
 'NuVew',
 'Silver Kartz',
 'ROZZETTA CRAFT',
 'NuVew',
 'Royal Son',
 'Aislin',
 'NuVew',
 'Fastrack',
 'hipe',
 'Gansta',
 'Aislin',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'PIRASO',
 'NuVew',
 'Aislin',
 'Aislin']

In [68]:
prod=[]
d=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for i in d:
    prod.append(i.text)
prod

['UV Protection Aviator Sunglasses (57)',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (32)',
 'Polarized, UV Protection, Gradient Aviator Sunglasses (...',
 'UV Protection Aviator Sunglasses (61)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Gradient, Night Vision Retro Square Sung...',
 'UV Protection, Riding Glasses Shield Sunglasses (70)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Riding Glasses Rectangular Sunglasses (F...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Polarized, UV Protection Rectangular, Wayfarer Sunglass...',
 'UV Protection Round Sunglasses (52)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored, UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Gradient Over-sized, Retro Square Sungla...',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Aviator Sunglasses (50)',
 'UV Protection, Others Retro Square Sunglasses (Free Siz...',
 'UV Protection, Mirrored, Riding Glasses Round Sunglasse...',
 'UV Protection Oval Sunglasses (56)',
 'Polarized, UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Night Vision, Riding Glasses Sports Sung...',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'UV Protection Cat-eye Sunglasses (60)',
 'UV Protection Retro Square Sunglasses (54)',
 'UV Protection, Mirrored, Night Vision, Gradient, Riding...',
 'UV Protection, Gradient Wayfarer Sunglasses (53)',
 'UV Protection Cat-eye Sunglasses (58)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'Gradient, UV Protection Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Oval Sunglasses (58)',
 'UV Protection, Gradient Aviator Sunglasses (58)']

In [69]:
pri=[]
e=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
for i in e:
    pri.append(i.text)
pri

['₹288',
 '₹629',
 '₹225',
 '₹1,078',
 '₹609',
 '₹588',
 '₹599',
 '₹179',
 '₹299',
 '₹206',
 '₹225',
 '₹426',
 '₹269',
 '₹504',
 '₹909',
 '₹759',
 '₹399',
 '₹249',
 '₹179',
 '₹257',
 '₹274',
 '₹314',
 '₹259',
 '₹386',
 '₹251',
 '₹426',
 '₹177',
 '₹379',
 '₹450',
 '₹403',
 '₹629',
 '₹219',
 '₹284',
 '₹386',
 '₹404',
 '₹403',
 '₹314',
 '₹375',
 '₹425',
 '₹446']

In [70]:
dis=[]
j=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
for i in j:
    dis.append(i.text)
dis

['85% off',
 '30% off',
 '85% off',
 '74% off',
 '32% off',
 '34% off',
 '33% off',
 '88% off',
 '85% off',
 '84% off',
 '85% off',
 '80% off',
 '82% off',
 '76% off',
 '30% off',
 '15% off',
 '72% off',
 '87% off',
 '85% off',
 '83% off',
 '86% off',
 '80% off',
 '82% off',
 '77% off',
 '79% off',
 '78% off',
 '81% off',
 '74% off',
 '70% off',
 '72% off',
 '30% off',
 '84% off',
 '85% off',
 '84% off',
 '84% off',
 '79% off',
 '80% off',
 '70% off',
 '72% off',
 '72% off']

In [72]:
driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]/span").click()

In [73]:
#specifing the url of the webpage to be scraped
url5='https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3'

In [78]:
br=[]
a=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
for i in a:
    br.append(i.text)
br[0:20]

['Gansta',
 'hipe',
 'Royal Son',
 'Deixels',
 'Gansta',
 'Silver Kartz',
 'IDEE',
 'Gansta',
 'Gansta',
 'Gansta',
 'ROZZETTA CRAFT',
 'Rozzetta Craft',
 'Silver Kartz',
 'PIRASO',
 'ROZZETTA CRAFT',
 'Fastrack',
 'Elegant',
 'Royal Son',
 'NuVew',
 'ROZZETTA CRAFT']

In [79]:
prod=[]
d=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for i in d:
    prod.append(i.text)
prod[0:20]

['UV Protection, Mirrored Wayfarer Sunglasses (53)',
 'Mirrored Wayfarer Sunglasses (55)',
 'UV Protection, Gradient Wayfarer Sunglasses (55)',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)',
 'UV Protection Aviator Sunglasses (88)',
 'Polarized Aviator Sunglasses (58)',
 'UV Protection, Mirrored, Gradient Wayfarer Sunglasses (...',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Wrap-around Sunglasses (63)',
 'Polarized, Night Vision, UV Protection Aviator Sunglass...',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (50)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (59)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Polarized Aviator Sunglasses (58)',
 'UV Protection, Night Vision, Riding Glasses Sports Sung...',
 'UV Protection Retro Square Sunglasses (Free Size)']

In [80]:
pri=[]
e=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
for i in e:
    pri.append(i.text)
pri[0:20]

['₹199',
 '₹219',
 '₹217',
 '₹202',
 '₹249',
 '₹242',
 '₹1,176',
 '₹269',
 '₹374',
 '₹269',
 '₹426',
 '₹474',
 '₹206',
 '₹314',
 '₹399',
 '₹909',
 '₹244',
 '₹711',
 '₹253',
 '₹349']

In [81]:
dis=[]
j=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
for i in j:
    dis.append(i.text)
dis[0:20]

['80% off',
 '78% off',
 '78% off',
 '83% off',
 '87% off',
 '79% off',
 '60% off',
 '86% off',
 '81% off',
 '86% off',
 '78% off',
 '78% off',
 '79% off',
 '80% off',
 '80% off',
 '30% off',
 '83% off',
 '64% off',
 '67% off',
 '80% off']

In [84]:
driver.close()

# Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [108]:
#Lets first connect to web driver
driver=webdriver.Chrome("C:\web driver\chromedriver.exe")

In [109]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace')

In [110]:
#specifing the url of the webpage to be scraped
url='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace'

In [111]:
driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']/span").click()

In [114]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3QP11A&marketplace=FLIPKART')

In [121]:
urls=driver.find_elements_by_xpath("//nav[@class='yFHi8N']/a")
link=[i.get_attribute('href') for i in urls[0:10]]
link

['https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3QP11A&marketplace=FLIPKART&page=1',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3QP11A&marketplace=FLIPKART&page=2',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3QP11A&marketplace=FLIPKART&page=3',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3QP11A&marketplace=FLIPKART&page=4',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3QP11A&marketplace=FLIPKART&page=5',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3QP11A&marketplace=FLIPKART&page=6',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3QP11A&marketplace=FLIPKART&page=7',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3QP11A&marketplace=FLIPKART&page=8',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3QP11A&marketplace=FLIPKART&page=9',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3QP11A&marketplace=FLIPKART&page=10']

In [162]:
rate=[]
descrip=[]
revi=[]
for i in link:
    driver.get(i)
    r=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq' or @class='_3LWZlK _1rdVr6 _1BLPMq']")
    rate.append([i.text for i in r])
    
    g=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    descrip.append([i.text for i in g])
    
    f=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    revi.append([i.text for i in f])

In [163]:
rate

[['5', '5', '5', '5', '5', '5', '5', '5', '5', '4'],
 ['5', '5', '5', '5', '5', '5', '5', '5', '5', '5'],
 ['5', '5', '5', '5', '4', '5', '1', '5', '5', '5'],
 ['4', '5', '5', '5', '5', '5', '5', '5', '5', '5'],
 ['5', '5', '5', '5', '5', '5', '3', '5', '5', '5'],
 ['5', '4', '5', '5', '5', '5', '5', '5', '5', '5'],
 ['5', '4', '4', '5', '5', '5', '5', '5', '4', '5'],
 ['4', '5', '5', '5', '3', '5', '5', '5', '5', '5'],
 ['5', '5', '5', '5', '5', '5', '5', '4', '5', '5'],
 ['5', '5', '5', '5', '5', '4', '5', '5', '5', '5']]

In [164]:
Rate=[]
for i in range(0,10):
    for j in rate[i]:
        Rate.append(j)
Rate

Descrip=[]
for i in range(0,10):
    for j in descrip[i]:
        Descrip.append(j)
Descrip

Revi=[]
for i in range(0,10):
    for j in revi[i]:
        Revi.append(j)
Revi

['Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'Best budget Iphone till date ❤️ go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.\n\nCamera: at this price range there is no comparison of camera, you’ll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy 😃\n\nBattery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba...\nREAD MORE',
 'It’s been almost a month since I have been using this phone. I upgraded from an iPhone 8. The main issue with my 8 was battery and this phone is just awesome when it comes to battery. It lasts a day and a half for me with my regular use , internet connected always with 4g\nCan’t move forward without saying this. Battery of this phone is a life saver when I am traveling or at work when I don’t get the option to charge\nCamera is superb. Front cam selfies and back cam photos are just awesome.\n...\nREAD MORE',
 '*Review after 10 months of usage*\nDoesn\'t seem bulky with decent touch and camera. The "standard maintained" quality of IPhone. Go for it, if your budget is not more enough for pro models. It\'s a value for money among the 11 series Stereo speakers are so good, you will love the stereo sound. Battery backup is not decent but still better than Iphone 7 and 8.Processor is fast, the phone doesn\'t lag at all even with heavy games, waterproof, faster face id and with no fingerprint scanners. The ca...\nREAD MORE',
 'Awesome Phone. Slightly high price but worth. Better than iPhone XR.\nCamera is superb and wide angle camera is very clear.\n12MP selfie camera is also very good.\nA13 Chip gives a very good and smooth performance.',
 "Iphone is just awesome.. battery backup is very very nice.. continuously for 10 hours we can use it.camera is just awesome.. display is just fab.i love it alot..i had to wait 15 days for it as i pre ordered it..overalll it's worth the price..these all images are clicked by my iPhone..and i love it.",
 'Really worth of money. i just love it. It is the best phone ever.',
 'Upgraded from iphone 6 to 11 best phone for iphone users battery is much better than other iphones camera is awesome love to use it.camera is so clear in night.',
 'It’s an amazing product from apple and the camera is simply superb. Phone is faster.Night shot is simply superb and detailing and colour differentiation from camera is an added advantage\n\nThis review I have written from iPhone 11 only and I am glad to say outside.\n\nCons wise if we see HD+ display only, no battery percentage indicator as in older iPhone 8.\nNo assistive touch control button in it\nNo oleophobic coating on back panel glass and finger prints are visible but since I bought mint gr...\nREAD MORE',
 'This will help you more. See if you are planning to buy iPhone 11. I will say. Yes. But there are some plans I just want to disclose before you buy. 1) If you are an existing iPhone X/XS/XS Max/ XR user, better you guys do not think it to buy. You guys have more or less better gadget. 2) If you are an android user and planning to buy premium phone. I will suggest them to please buy iPhone instead of buying an Android. I bet you will never go back to android after using IOS. Now I want to shar...\nREAD MORE',
 'I have migrated from OP 7pro... and trust me, iPhone 11 is totally worth it.. following are the reasons:-\n1)there is ABSOLUTELY NO ISSUE WITH THE DISPLAY... its crisp, sharp and I found it to be much much better than OP7 pro. Netflix, Prime video all run crisply... you won’t miss a thing. True Tone works flawlessly...the display brightness is perfect. OP have not calibrated their screens properly.\n2) iPhone 11 series have really good cameras... others have spoken in depth about them.\n3) bat...\nREAD MORE',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'This is my first ever I phone. Before this I was using my google nexus 5. But moving from android to iOS is a great experience. It’s worth at this price. I will highly recommend it if you want to move to iOS. The best part of this phone is it’s camera and it’s battery life. This two things have won my heart. I loved it. Happy to have it in my hand. Still exploring its features. And can’t forget to mention Flipkart service. Very prompt service and fast delivery.',
 'Well you all know the specifications . One of a kind. Best iPhone till date. Many enhancements to the camera app with many options. Love the glass body with matte finish in the lens area on the back. Lovely colours to choose from. Best battery in an iPhone till date, enough to last more than a day in normal usage. I tested my iPhone 11 battery and lasted for than 24 hours after full charge still with 30% battery charge left. Watched movies for some time. Normal usage on calls, browsing, musi...\nREAD MORE',
 "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.😍💯",
 'Best Quality Product OF iPhone Series , Sound Quality & Camera quality is very awesome, Battery Life is very Sufficient for 24 hr Backup With Full Internet Access , I love this this Product too much , It is very fast & making me Very fast in all my daily Routine\nHighlights;\n1.Camera: 5 STAR\n2.Video Recording: 5 star\n3.Night mODE sHOOTING & Camera:4 star\n4. Audio Quality: Awesome\n5. Battery : 5 Star\n6. Touch:5 Star\n7. Processor: Very Fast\nThe M...\nREAD MORE',
 'The built quality is not very premium.\nThe battery back is great .\nThe LCD panel is not so sharp but the brightness level is very High .\nCamera is super duper awesome.\nThe red colour which people think is bright is actually very soothing and excellent colour to choose from .\nThe A13 Bionic chip is really a flagship processor and can beat any phone which even has 12 gb ram .\nCamera module is very great and looks very stylish.',
 'First thanks to Flipkart for this amazing deal and phone is outstanding. I upgraded from iPhone 7 and this is like very big upgrade. But the packaging was very basic I expected a good packaging as they only wrapped one layer of bubble wrap which I don’t think is enough to protect this expensive phone. And I recommend this phone and seller as well.\n\nAnd I’m posting this review after using it for 4 days.',
 'Excellent camera, good performance, no lag. The lcd display is also good.. but difference come when we watch movie in prime and Netflix, the colours are not vibrant.. as we see in amoled display.. and the charger in box is of 5 watts.. takes more than 3 hours to charge from 0 to 100.. so guys be prepare to buy 18 watts charger . Finally I am an android user, it was my first Iapple phone, I promise u guys the iOS is so smooth.. overall the phone is damn good.... close eyes to buy it.. thanks t...\nREAD MORE',
 'it is very good at performance. Camera is best like before and very smooth response even in water. Don’t buy 12 mini buy iPhone 11 , it is far better than 12 mini believe me ! Have a nice day \uf8ff ☺️',
 'I just directly switch from iphone 6s to iphone 11 .The best premium smartphone I recommend to everyone. Excellent quality and colors the iphone have in 11 series.\nCamera quality is just awesome and the major feel when we hold in our hands. The sound quality and volume is also higher then the previous models.\nI will recommend to buy iphone 11 instead of pro models , there is nothing much difference as this model contains everything which fulfill our needs.\n\nOnly one thing that I dislike abo...\nREAD MORE',
 'Reviewing again after 5 months. At the beginning the battery and performance was good but it degraded soon. Also I was facing heating issues. The mobile will heat up like a stove sometimes. You cannot even play Pubg even in low settings properly, performance is not a problem but heating is. Also if you play that game for 10 mins the brightness will be automatically down due to over heating even when the auto brightness is set to off. This will not be solved even if u manually increase the bri...\nREAD MORE',
 'Well while switching from android to iOS the first thing you need to be careful about is that you will loose all your whatsapp chat backups as both are different operating systems. Camera clarity is awesome and though being an lcd screen clarity and resolution is good. Battery backup is also good unlike previous gen iPhone. So far the experience is good will Padre after a few months of usage.\n\nP.S the black is more of a dark grey shade and not jet black',
 'In love with this iphone great performance,camera ,battery everything. Go for it have a uncompareble battery backup, no doubts in iPhone camera here You can see the picture which is shot on my iPhone In love with this iphone great performance,camera ,battery everything. Go for it have a uncompareble battery backup, no doubts in iPhone camera here You can see the picture which is shot on my iPhone In love with this iphone great performance,camera ,battery everything. Go for it have a uncompare...\nREAD MORE',
 'Very excited to have this phone. This phone has the real power unlike the android phones having SD 855 . The battery life is very good and the camera quality is excellent as comapred to redmi and other phones except google pixel. I M enjoying every single bit of it. Would recommed only if you have the budget.',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'After 1 month use I found camera quality best compared to my previous Samsung note 10+.Display not good as note 10 also charging too slow.Apple should add fast charger like 11 plus and pro.Best phone for daily use',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'Amazing camera and feel super machine I am not describe my feeling but this is amazing Phone I am so lucky I have this',
 'Really good actually this is my first apple product am using its really awesome performance wise excellent. Am really happy with this iphone11',
 'awesome phone to have. it has got many smart features apart from mind blowing looks, camera, display, battery and sound. have fallen in love with this phone. must buy phone if you have got enough money. thanks to flipkart and apple of course..',
 "It's very high performances devise i am like the service of flipkart delevary very fast and packing very nice perfect phone",
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'Superb Product !!!\nA big and worthy upgrade from mi 3S to iphone 11 .\nTotally loved it !',
 'awesome Phone Smooth Touch Too good Sexyy looks one word Awesome',
 'Awesome purchase. Amazing phone with good battery backup. It’s a top notch device. White colour looks amazing. Phone has a few extra feature than iPhone XR. Overall, this is value for money',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Best in class. Battery backup is good especially when you play games like Pubg COD. But it is sort of heavy when you hold in hands. Portrait mode is best to click pictures. Stage light effect is awesome. Try to click photos outside in nature because photos inside home or room will not give you the quality in any phone even in DSLR.',
 'Excellent camera and display touching very nice and smooth very improvement against iPhone XR and new processor is very fast',
 "Just an awesome phone...upgraded from 6s to 11 and trust me guys it's super cool with amazing features..loved it ♥️ and a big thank you to Flipkart for delivering it in just 2 days ?",
 'Everything u ll like it when u use this iPhone. Simple changes only not many to lower models but it’s nice to use. Little heavy compared to previous models like 7,8',
 'I purchased the iPhone 11 a month back. I must say Apple has impressed me yet again . I have been an Apple user for past 5 years . The phone is power packed with amazing features . What impressed me the most was the battery backup the phone offers . Battery can easily run upto 1.5 days in single charge with moderate to\nHeavy usage . If you’re looking for a value for money device , I don’t see any other phone in the price range which can match the iPhone 11 .\nOne thing I didn’t like was that ...\nREAD MORE',
 'Value for money product. This iphone 11 is really amazing. Again nice release by apple. Great camera, battery backup is excellent. I just love this phone',
 'Battery backup is extraordinary, camera is decent & performance offered by A13 bionic is awsome. The display is good in practical usage like the visibility of display is very good in direct sun light compare to pro models. Iam extremely satisfied for the money I spent.',
 'This is very second time I am using iphone I am not a huge fan of I phone but as my past experience iphone is always iphone whn you use it in your hand and it feel firmly buildup and camera quality is awesome processing is fast and realy smooth while using it.Night mode is awesome and photography is brilliant. Go for it and it will be great if you buy it worth it',
 'I was torn between the oneplus 8 pro and the iphone 11. I had to shell out extra money for this, but I say if you can afford it, this truely is the best package.\nMind blowing camera, battery and overall performance. Face Id works like magic even in complete darkness without firing up the screen brightness. The phones with in display fingerprint scanners do this at night time and it really burns your eyes.\nI wanted the oneplus for its display but tbh the OLEDs on oneplus is really bad. Flick...\nREAD MORE',
 "It's a great phone. From camera to display everything is best for the price.\nBest camera , best performance. I think everyone should buy it . This phone has best battery life so far in iphone series which I had used earlier. Happy to have it. Thanks Flipkart",
 'I use a Note10+ and have been using both iOS and Android devices.\n\nCamera has really good features and portraits are super good, better than Samsung flagship. Overall camera setup can still be enhanced and hopeful for better upgrades on software in next release\n\nOperating system is quite a breeze and user experience of daily usage is very high as compared to Android. I moved to iOS very swiftly in 2 days for all my office work from Note10+\n\nBattery holds up quite well with 4 hrs of call and ...\nREAD MORE',
 'Good buy.. working perfectly !\n\nThat was upgrade from 6S to 11. I see no deference in both the phones except:\n1. Battery performance\n2. Camera quality\n3. Face detection unlock\n\nGo for it..!',
 'The phone is completely good\nAs far as camera Apple is king of it\nAnd its a beast in performance\nAnd the battery is pretty good too',
 "I can say I'm damn impressed with iPhone 11. As they says iPhone 11 have the toughest glass ever in the smartphone which you'll find on the front and back and it's totally smooth. The fit and finish is full apple quality - there's no sense that any cheaping out has happened in the construction. Without saying it's camera features this review won't complete. The iPhone 11 has a dual camera system, consisting of a wide angle len's that's pretty much same as found on the iPhone XR last year, but...\nREAD MORE",
 'Superfast delivery by Flipkart. Thanks.\n\n1. iPhone 11 is a pretty solid phone for the money you are paying.\n2. All the bad reviews about the display is confusing. It’s not that bad.\n3. I switched from a Oneplus 7t. I have no complaints about the display quality of iPhone. Yes, it’s not OLED, so, we are missing on the deep blacks. But that’s it. It is a very colour accurate display. Gets adequately bright and I could not find any pixelation.\n4. Performance is one of the best, if not best, in ...\nREAD MORE',
 'Great iphone.\nI am writing this review after 2 months of usage.\nCamera is excellent, especially the nightmode\nDisplay perfect\nBattery backup awesome\nSound quality very good\nOverall Apple gives you a perfect iphone in this range.\nReally in love with iPhone 11',
 'Well , as we all know if its not an Iphone , its not an iphone . The iphones are always beast . The camera game has been level up . The A13 Bionic is just fabulous . The update this year are certainly the camera which is damn good with d addition of wide angle lens as well as ultra wide . If anyones purchasing an iphone for the first time , do opt for the black color . Its just feels more than premium . Battery life is damn good with lasting fully a day . Overall a nice package . Well managed...\nREAD MORE',

In [170]:
iphone=pd.DataFrame({})
iphone['Rate']=Rate
iphone['Description']=Descrip
iphone['Review']=Revi
iphone

   Rate         Description                                             Review
0     5    Perfect product!  Amazing phone with great cameras and better ba...
1     5       Great product  Amazing Powerful and Durable Gadget.\n\nI’m am...
2     5  Highly recommended  iphone 11 is a very good phone to buy only if ...
3     5    Perfect product!  It’s a must buy who is looking for an upgrade ...
4     5           Brilliant  The Best Phone for the Money\n\nThe iPhone 11 ...
..  ...                 ...                                                ...
95    4          Delightful  Nice camera for front and back.. The display i...
96    5            Terrific  I got this beast today. And I must say the pic...
97    5           Fabulous!  Best phone in this price segment people say th...
98    5           Excellent  Got mobile @56,990 on 8 oct 2020 when all othe...
99    5            Terrific  Have used both iPhone X and iPhone XR and I ca...

[100 rows x 3 columns]

In [172]:
driver.close()

# Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

In [219]:
#Lets first connect to web driver
driver=webdriver.Chrome("C:\web driver\chromedriver.exe")

In [175]:
driver.get(' https://www.flipkart.com/')

In [176]:
#finding element for shoes in search bar

driver.find_element_by_xpath("//input[@class='_3704LK']").send_keys('shoes')

In [177]:
driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()

In [178]:
#specifing the url of the webpage to be scraped
url='https://www.flipkart.com/search?q=shoes&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off'

In [181]:
br=[]
a=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
for i in a:
    br.append(i.text)
br

['Aadi',
 'BIG FOX',
 'Port',
 'Aadi',
 'GS',
 'MILESWALKER',
 'Asian',
 'Beerock',
 'Asian',
 'Chevit',
 'Aadi',
 'BOXER',
 'Shoes Bank',
 'Woakers',
 'Aadi',
 'Magnolia',
 'Nike',
 'Asian',
 'SUSON',
 'FASHION CITY',
 'Aadi',
 'DIGITRENDZZ',
 'Swiggy',
 'Walkstyle',
 'Asian',
 'Asian',
 'Kraasa',
 'LeatherKraft',
 'D-SNEAKERZ',
 'Taurene',
 'Kraasa',
 'Knoos',
 'World Wear Footwear',
 'ZOVIM',
 'Puma',
 'Kzaara',
 'Asian',
 'Beerock',
 'Asian',
 'Big Fox']

In [184]:
Pd=[]
p=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for i in p:
    Pd.append(i.text)
Pd

['Walking Shoes For Men',
 'Classic Suede Footwear Loafers For Men',
 'Running Shoes For Men',
 'Running Shoes For Men',
 'Running Shoes Walking Shoes For Men',
 'Running Shoes For Men',
 'WNDR-13 Running Shoes For Men',
 'Oxygen Running Shoes For Men',
 'Bouncer-01 Running shoes for boys | sports shoes for me...',
 '445 Sports Shoes (Walking & Gym Shoes) Running Shoes Fo...',
 'Casuals For Men',
 "Trending Sneakers For Men's Casual Boxer Shoes Black Hi...",
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Running Shoes For Men',
 'Casuals For Men',
 'White Sneakers Sneakers For Men',
 'Wmns Tanjun Running Shoes For Women',
 'Creta-12 sports shoes for men | Latest Stylish Casual s...',
 'Black Gym/Walking/Running Sports Sneakers For Men',
 'Running Shoes For Men',
 'Lightweight Gymwear Sport Running Shoes For Men Walking...',
 'Casual sneakers and loafers shoes Combo(MR)-1720-1244 (...',
 'Loafers For Men',
 'Cosko Sports Shoes,Running Shoes,Walking Shoes,Training...',
 'Cosko Sports Shoes,Running Shoes,Walking Shoes,Training...',
 'Sports Casual Running Shoes For Men',
 'Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'SOCKS Running Shoes For Men',
 'Climber Boots For Men',
 'Brown Synthetic Leather Casual Loafer Loafers For Men',
 'Combo Pack of 2 Latest Collection Stylish casual Sports...',
 'shoes for men Sneakers For Men',
 'Cruxston Wn s MU IDP Running Shoes For Women',
 'Lace Up For Men',
 'WNDR-13 Running Shoes For Men',
 'Oxygen Running Shoes For Men',
 'Creta-12 sports shoes for men | Latest Stylish Casual s...',
 'Casual Kiltie Tassled Loafers For Men']

In [185]:
Pr=[]
r=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
for i in r:
    Pr.append(i.text)
Pr

['₹399',
 '₹584',
 '₹318',
 '₹299',
 '₹299',
 '₹318',
 '₹471',
 '₹460',
 '₹719',
 '₹348',
 '₹474',
 '₹235',
 '₹349',
 '₹549',
 '₹299',
 '₹293',
 '₹4,995',
 '₹764',
 '₹314',
 '₹499',
 '₹399',
 '₹317',
 '₹498',
 '₹569',
 '₹584',
 '₹584',
 '₹424',
 '₹299',
 '₹368',
 '₹499',
 '₹424',
 '₹449',
 '₹495',
 '₹378',
 '₹1,000',
 '₹379',
 '₹471',
 '₹474',
 '₹764',
 '₹629']

In [186]:
di=[]
l=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
for i in l:
    di.append(i.text)
di

['60% off',
 '41% off',
 '68% off',
 '70% off',
 '70% off',
 '68% off',
 '21% off',
 '53% off',
 '28% off',
 '30% off',
 '52% off',
 '60% off',
 '65% off',
 '65% off',
 '70% off',
 '70% off',
 '41% off',
 '68% off',
 '50% off',
 '60% off',
 '68% off',
 '50% off',
 '62% off',
 '41% off',
 '41% off',
 '57% off',
 '70% off',
 '44% off',
 '50% off',
 '57% off',
 '55% off',
 '50% off',
 '62% off',
 '74% off',
 '62% off',
 '21% off',
 '52% off',
 '41% off',
 '37% off']

In [189]:
driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()

In [190]:
#specifing the url of the webpage to be scraped
url1='https://www.flipkart.com/search?q=shoes&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2'

In [203]:
a=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
for i in a:
    br.append(i.text)
br

['Kraasa',
 'Puma',
 'GS',
 'Swiggy',
 'Campus',
 'D-SNEAKERZ',
 'Nike',
 'RUFFBIRD',
 'Beerock',
 'Aadi',
 'Campus',
 'Asian',
 'Puma',
 'Aadi',
 'Aadi',
 'SUSON',
 'FREEDOM DAISY',
 'Marc Ecko',
 'T-Rock',
 'BIG FOX',
 'BRUTON',
 'Asian',
 'Rebelbe',
 'Aadi',
 'Asian',
 'T-Rock',
 'REEBOK',
 'Asian',
 'Asian',
 'MILESWALKER',
 'SCATCHITE',
 'Aadi',
 'Skechers',
 'Woakers',
 'T-Rock',
 'Kaneggye',
 'Kraasa',
 'DOLLER',
 'Puma',
 'FASHION CITY',
 'Kraasa',
 'Puma',
 'GS',
 'Swiggy',
 'Campus',
 'D-SNEAKERZ',
 'Nike',
 'RUFFBIRD',
 'Beerock',
 'Aadi',
 'Campus',
 'Asian',
 'Puma',
 'Aadi',
 'Aadi',
 'SUSON',
 'FREEDOM DAISY',
 'Marc Ecko',
 'T-Rock',
 'BIG FOX',
 'BRUTON',
 'Asian',
 'Rebelbe',
 'Aadi',
 'Asian',
 'T-Rock',
 'REEBOK',
 'Asian',
 'Asian',
 'MILESWALKER',
 'SCATCHITE',
 'Aadi',
 'Skechers',
 'Woakers',
 'T-Rock',
 'Kaneggye',
 'Kraasa',
 'DOLLER',
 'Puma',
 'FASHION CITY']

In [205]:
p=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for i in p:
    Pd.append(i.text)
Pd

['Climber Boots For Men',
 'Ontario IDP Sneakers For Men',
 'Party Casuals For Men',
 'shoes For Mens Combo Running Shoes For Men',
 'OXYFIT Casuals For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Wmns Tanjun Running Shoes For Women',
 'Lightweight Gymwear Sport Running Shoes Cricket Shoes F...',
 'Oxygen Running Shoes For Men',
 'Walking Shoes For Men',
 'OXYFIT Casuals For Men',
 'Captain-12 Running shoes for boys | sports shoes for me...',
 'Dwane IDP Running Shoes For Men',
 'Walking Shoes For Men',
 'Running Shoes For Men',
 'Leisure Running Mesh Version Of Fashion Students Breath...',
 'Running Shoes For Men',
 'Sneakers For Men',
 'Loafers For Men',
 'Classic Suede Footwear Loafers For Men',
 'Combo Pack Of 5 Casual Shoes Canvas Shoes For Men',
 'SM-162 Navy Blue Walking Shoes,Training Shoes,Sneakers,...',
 'Outdoor Casual Boots for Mens Boots For Men',
 'Walking Shoes For Men',
 'Walking Shoes For Women',
 'Socks Stylish Cricket , Walking Shoes , Light Weight Sp...',
 'SPEED RUNNER LP Running Shoes For Men',
 'Walking Shoes For Men',
 'Walking Shoes For Men',
 'Running Shoes For Men',
 'Sneakers For Men',
 'Walking Shoes For Men',
 'GO RUN FAST - STEADFAST Running Shoes For Men',
 'Running Shoes For Men',
 'Light Weight Sports Shoes Walking Shoes For Men',
 'Canvas Shoes For Men',
 'Mocassin, Casuals, Party Wear Loafers For Men',
 'casual for men sneaker shoes high top shoes stylish Hig...',
 'Ontario IDP Sneakers For Men',
 'Climber Boots For Men',
 'Ontario IDP Sneakers For Men',
 'Party Casuals For Men',
 'shoes For Mens Combo Running Shoes For Men',
 'OXYFIT Casuals For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Wmns Tanjun Running Shoes For Women',
 'Lightweight Gymwear Sport Running Shoes Cricket Shoes F...',
 'Oxygen Running Shoes For Men',
 'Walking Shoes For Men',
 'OXYFIT Casuals For Men',
 'Captain-12 Running shoes for boys | sports shoes for me...',
 'Dwane IDP Running Shoes For Men',
 'Walking Shoes For Men',
 'Running Shoes For Men',
 'Leisure Running Mesh Version Of Fashion Students Breath...',
 'Running Shoes For Men',
 'Sneakers For Men',
 'Loafers For Men',
 'Classic Suede Footwear Loafers For Men',
 'Combo Pack Of 5 Casual Shoes Canvas Shoes For Men',
 'SM-162 Navy Blue Walking Shoes,Training Shoes,Sneakers,...',
 'Outdoor Casual Boots for Mens Boots For Men',
 'Walking Shoes For Men',
 'Walking Shoes For Women',
 'Socks Stylish Cricket , Walking Shoes , Light Weight Sp...',
 'SPEED RUNNER LP Running Shoes For Men',
 'Walking Shoes For Men',
 'Walking Shoes For Men',
 'Running Shoes For Men',
 'Sneakers For Men',
 'Walking Shoes For Men',
 'GO RUN FAST - STEADFAST Running Shoes For Men',
 'Running Shoes For Men',
 'Light Weight Sports Shoes Walking Shoes For Men',
 'Canvas Shoes For Men',
 'Mocassin, Casuals, Party Wear Loafers For Men',
 'casual for men sneaker shoes high top shoes stylish Hig...',
 'Ontario IDP Sneakers For Men',
 'Climber Boots For Men',
 'Ontario IDP Sneakers For Men',
 'Party Casuals For Men',
 'shoes For Mens Combo Running Shoes For Men',
 'OXYFIT Casuals For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Wmns Tanjun Running Shoes For Women',
 'Lightweight Gymwear Sport Running Shoes Cricket Shoes F...',
 'Oxygen Running Shoes For Men',
 'Walking Shoes For Men',
 'OXYFIT Casuals For Men',
 'Captain-12 Running shoes for boys | sports shoes for me...',
 'Dwane IDP Running Shoes For Men',
 'Walking Shoes For Men',
 'Running Shoes For Men',
 'Leisure Running Mesh Version Of Fashion Students Breath...',
 'Running Shoes For Men',
 'Sneakers For Men',
 'Loafers For Men',
 'Classic Suede Footwear Loafers For Men',
 'Combo Pack Of 5 Casual Shoes Canvas Shoes For Men',
 'SM-162 Navy Blue Walking Shoes,Training Shoes,Sneakers,...',
 'Outdoor Casual Boots for Mens Boots For Men',
 'Walking Shoes For Men',
 'Walking Shoes For Women',
 'Socks Stylish Cricket , Walking Shoes , Light Weight Sp...',
 'SPEED RUNNER LP Running Shoes For Men',
 'Walking Shoes For Men',
 'Walking Shoes For Men',
 'Running Shoes For Men',
 'Sneakers For Men',
 'Walking Shoes For Men',
 'GO RUN FAST - STEADFAST Running Shoes For Men',
 'Running Shoes For Men',
 'Light Weight Sports Shoes Walking Shoes For Men',
 'Canvas Shoes For Men',
 'Mocassin, Casuals, Party Wear Loafers For Men',
 'casual for men sneaker shoes high top shoes stylish Hig...',
 'Ontario IDP Sneakers For Men']

In [206]:
r=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
for i in r:
    Pr.append(i.text)
Pr

['₹424',
 '₹1,047',
 '₹299',
 '₹498',
 '₹679',
 '₹365',
 '₹4,995',
 '₹310',
 '₹474',
 '₹426',
 '₹779',
 '₹629',
 '₹1,479',
 '₹399',
 '₹426',
 '₹318',
 '₹350',
 '₹599',
 '₹341',
 '₹584',
 '₹699',
 '₹474',
 '₹538',
 '₹426',
 '₹640',
 '₹398',
 '₹1,259',
 '₹499',
 '₹764',
 '₹318',
 '₹398',
 '₹474',
 '₹2,499',
 '₹549',
 '₹404',
 '₹284',
 '₹424',
 '₹449',
 '₹1,047',
 '₹499',
 '₹424',
 '₹1,047',
 '₹299',
 '₹498',
 '₹679',
 '₹365',
 '₹4,995',
 '₹310',
 '₹474',
 '₹426',
 '₹779',
 '₹629',
 '₹1,479',
 '₹399',
 '₹426',
 '₹318',
 '₹350',
 '₹599',
 '₹341',
 '₹584',
 '₹699',
 '₹474',
 '₹538',
 '₹426',
 '₹640',
 '₹398',
 '₹1,259',
 '₹499',
 '₹764',
 '₹318',
 '₹398',
 '₹474',
 '₹2,499',
 '₹549',
 '₹404',
 '₹284',
 '₹424',
 '₹449',
 '₹1,047',
 '₹499']

In [207]:
l=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
for i in l:
    di.append(i.text)
di

['57% off',
 '65% off',
 '70% off',
 '50% off',
 '15% off',
 '63% off',
 '68% off',
 '52% off',
 '57% off',
 '2% off',
 '37% off',
 '63% off',
 '60% off',
 '57% off',
 '68% off',
 '64% off',
 '72% off',
 '65% off',
 '41% off',
 '82% off',
 '5% off',
 '46% off',
 '57% off',
 '57% off',
 '60% off',
 '55% off',
 '16% off',
 '41% off',
 '68% off',
 '60% off',
 '52% off',
 '50% off',
 '65% off',
 '59% off',
 '43% off',
 '57% off',
 '55% off',
 '65% off',
 '50% off',
 '57% off',
 '65% off',
 '70% off',
 '50% off',
 '15% off',
 '63% off',
 '68% off',
 '52% off',
 '57% off',
 '2% off',
 '37% off',
 '63% off',
 '60% off',
 '57% off',
 '68% off',
 '64% off',
 '72% off',
 '65% off',
 '41% off',
 '82% off',
 '5% off',
 '46% off',
 '57% off',
 '57% off',
 '60% off',
 '55% off',
 '16% off',
 '41% off',
 '68% off',
 '60% off',
 '52% off',
 '50% off',
 '65% off',
 '59% off',
 '43% off',
 '57% off',
 '55% off',
 '65% off',
 '50% off']

In [208]:
driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]/span").click()

In [196]:
url2='https://www.flipkart.com/search?q=shoes&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3'

In [211]:
a=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
for i in a:
    br.append(i.text)
br

['Kraasa',
 'Puma',
 'GS',
 'Swiggy',
 'Campus',
 'D-SNEAKERZ',
 'Nike',
 'RUFFBIRD',
 'Beerock',
 'Aadi',
 'Campus',
 'Asian',
 'Puma',
 'Aadi',
 'Aadi',
 'SUSON',
 'FREEDOM DAISY',
 'Marc Ecko',
 'T-Rock',
 'BIG FOX',
 'BRUTON',
 'Asian',
 'Rebelbe',
 'Aadi',
 'Asian',
 'T-Rock',
 'REEBOK',
 'Asian',
 'Asian',
 'MILESWALKER',
 'SCATCHITE',
 'Aadi',
 'Skechers',
 'Woakers',
 'T-Rock',
 'Kaneggye',
 'Kraasa',
 'DOLLER',
 'Puma',
 'FASHION CITY',
 'Kraasa',
 'Puma',
 'GS',
 'Swiggy',
 'Campus',
 'D-SNEAKERZ',
 'Nike',
 'RUFFBIRD',
 'Beerock',
 'Aadi',
 'Campus',
 'Asian',
 'Puma',
 'Aadi',
 'Aadi',
 'SUSON',
 'FREEDOM DAISY',
 'Marc Ecko',
 'T-Rock',
 'BIG FOX',
 'BRUTON',
 'Asian',
 'Rebelbe',
 'Aadi',
 'Asian',
 'T-Rock',
 'REEBOK',
 'Asian',
 'Asian',
 'MILESWALKER',
 'SCATCHITE',
 'Aadi',
 'Skechers',
 'Woakers',
 'T-Rock',
 'Kaneggye',
 'Kraasa',
 'DOLLER',
 'Puma',
 'FASHION CITY',
 'Robbie jones',
 'Asian',
 'Layasa',
 'Aadi',
 'Aadi',
 'T-Rock',
 'Asian',
 'Asian',
 'Asian',
 'BIG FOX',
 'Yonex',
 'Beerock',
 'Asian',
 'Aadi',
 'Sukun',
 'World Wear Footwear',
 'Oricum',
 'BRUTON',
 'REEBOK',
 'MILESWALKER',
 'ADIDAS',
 'Puma',
 'Yonex',
 'Woakers',
 'BRUTON',
 'Skechers',
 'Asian',
 'EZDEZARIO',
 'Swiggy',
 'FASHION CITY',
 'Density',
 'Kraasa',
 'Rebelbe',
 'XYLUS',
 'BRUTON',
 'World Wear Footwear',
 'Longwalk',
 'REEBOK',
 'Layasa',
 'Taurene',
 'Robbie jones',
 'Asian',
 'Layasa',
 'Aadi',
 'Aadi',
 'T-Rock',
 'Asian',
 'Asian',
 'Asian',
 'BIG FOX',
 'Yonex',
 'Beerock',
 'Asian',
 'Aadi',
 'Sukun',
 'World Wear Footwear',
 'Oricum',
 'BRUTON',
 'REEBOK',
 'MILESWALKER',
 'ADIDAS',
 'Puma',
 'Yonex',
 'Woakers',
 'BRUTON',
 'Skechers',
 'Asian',
 'EZDEZARIO',
 'Swiggy',
 'FASHION CITY',
 'Density',
 'Kraasa',
 'Rebelbe',
 'XYLUS',
 'BRUTON',
 'World Wear Footwear',
 'Longwalk',
 'REEBOK',
 'Layasa',
 'Taurene',
 'Robbie jones',
 'Asian',
 'Layasa',
 'Aadi',
 'Aadi',
 'T-Rock',
 'Asian',
 'Asian',
 'Asian',
 'BIG FOX',
 'Yonex',
 'Beerock',
 'Asian',
 'Aadi',
 'Sukun',
 'World Wear Footwear',
 'Oricum',
 'BRUTON',
 'REEBOK',
 'MILESWALKER',
 'ADIDAS',
 'Puma',
 'Yonex',
 'Woakers',
 'BRUTON',
 'Skechers',
 'Asian',
 'EZDEZARIO',
 'Swiggy',
 'FASHION CITY',
 'Density',
 'Kraasa',
 'Rebelbe',
 'XYLUS',
 'BRUTON',
 'World Wear Footwear',
 'Longwalk',
 'REEBOK',
 'Layasa',
 'Taurene']

In [212]:
p=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for i in p:
    Pd.append(i.text)
Pd

['Climber Boots For Men',
 'Ontario IDP Sneakers For Men',
 'Party Casuals For Men',
 'shoes For Mens Combo Running Shoes For Men',
 'OXYFIT Casuals For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Wmns Tanjun Running Shoes For Women',
 'Lightweight Gymwear Sport Running Shoes Cricket Shoes F...',
 'Oxygen Running Shoes For Men',
 'Walking Shoes For Men',
 'OXYFIT Casuals For Men',
 'Captain-12 Running shoes for boys | sports shoes for me...',
 'Dwane IDP Running Shoes For Men',
 'Walking Shoes For Men',
 'Running Shoes For Men',
 'Leisure Running Mesh Version Of Fashion Students Breath...',
 'Running Shoes For Men',
 'Sneakers For Men',
 'Loafers For Men',
 'Classic Suede Footwear Loafers For Men',
 'Combo Pack Of 5 Casual Shoes Canvas Shoes For Men',
 'SM-162 Navy Blue Walking Shoes,Training Shoes,Sneakers,...',
 'Outdoor Casual Boots for Mens Boots For Men',
 'Walking Shoes For Men',
 'Walking Shoes For Women',
 'Socks Stylish Cricket , Walking Shoes , Light Weight Sp...',
 'SPEED RUNNER LP Running Shoes For Men',
 'Walking Shoes For Men',
 'Walking Shoes For Men',
 'Running Shoes For Men',
 'Sneakers For Men',
 'Walking Shoes For Men',
 'GO RUN FAST - STEADFAST Running Shoes For Men',
 'Running Shoes For Men',
 'Light Weight Sports Shoes Walking Shoes For Men',
 'Canvas Shoes For Men',
 'Mocassin, Casuals, Party Wear Loafers For Men',
 'casual for men sneaker shoes high top shoes stylish Hig...',
 'Ontario IDP Sneakers For Men',
 'Climber Boots For Men',
 'Ontario IDP Sneakers For Men',
 'Party Casuals For Men',
 'shoes For Mens Combo Running Shoes For Men',
 'OXYFIT Casuals For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Wmns Tanjun Running Shoes For Women',
 'Lightweight Gymwear Sport Running Shoes Cricket Shoes F...',
 'Oxygen Running Shoes For Men',
 'Walking Shoes For Men',
 'OXYFIT Casuals For Men',
 'Captain-12 Running shoes for boys | sports shoes for me...',
 'Dwane IDP Running Shoes For Men',
 'Walking Shoes For Men',
 'Running Shoes For Men',
 'Leisure Running Mesh Version Of Fashion Students Breath...',
 'Running Shoes For Men',
 'Sneakers For Men',
 'Loafers For Men',
 'Classic Suede Footwear Loafers For Men',
 'Combo Pack Of 5 Casual Shoes Canvas Shoes For Men',
 'SM-162 Navy Blue Walking Shoes,Training Shoes,Sneakers,...',
 'Outdoor Casual Boots for Mens Boots For Men',
 'Walking Shoes For Men',
 'Walking Shoes For Women',
 'Socks Stylish Cricket , Walking Shoes , Light Weight Sp...',
 'SPEED RUNNER LP Running Shoes For Men',
 'Walking Shoes For Men',
 'Walking Shoes For Men',
 'Running Shoes For Men',
 'Sneakers For Men',
 'Walking Shoes For Men',
 'GO RUN FAST - STEADFAST Running Shoes For Men',
 'Running Shoes For Men',
 'Light Weight Sports Shoes Walking Shoes For Men',
 'Canvas Shoes For Men',
 'Mocassin, Casuals, Party Wear Loafers For Men',
 'casual for men sneaker shoes high top shoes stylish Hig...',
 'Ontario IDP Sneakers For Men',
 'Climber Boots For Men',
 'Ontario IDP Sneakers For Men',
 'Party Casuals For Men',
 'shoes For Mens Combo Running Shoes For Men',
 'OXYFIT Casuals For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Wmns Tanjun Running Shoes For Women',
 'Lightweight Gymwear Sport Running Shoes Cricket Shoes F...',
 'Oxygen Running Shoes For Men',
 'Walking Shoes For Men',
 'OXYFIT Casuals For Men',
 'Captain-12 Running shoes for boys | sports shoes for me...',
 'Dwane IDP Running Shoes For Men',
 'Walking Shoes For Men',
 'Running Shoes For Men',
 'Leisure Running Mesh Version Of Fashion Students Breath...',
 'Running Shoes For Men',
 'Sneakers For Men',
 'Loafers For Men',
 'Classic Suede Footwear Loafers For Men',
 'Combo Pack Of 5 Casual Shoes Canvas Shoes For Men',
 'SM-162 Navy Blue Walking Shoes,Training Shoes,Sneakers,...',
 'Outdoor Casual Boots for Mens Boots For Men',
 'Walking Shoes For Men',
 'Walking Shoes For Women',
 'Socks Stylish Cricket , Walking Shoes , Light Weight Sp...',
 'SPEED RUNNER LP Running Shoes For Men',
 'Walking Shoes For Men',
 'Walking Shoes For Men',
 'Running Shoes For Men',
 'Sneakers For Men',
 'Walking Shoes For Men',
 'GO RUN FAST - STEADFAST Running Shoes For Men',
 'Running Shoes For Men',
 'Light Weight Sports Shoes Walking Shoes For Men',
 'Canvas Shoes For Men',
 'Mocassin, Casuals, Party Wear Loafers For Men',
 'casual for men sneaker shoes high top shoes stylish Hig...',
 'Ontario IDP Sneakers For Men',
 'Walking Shoes For Women',
 'Running Shoes For Men',
 'Walking Shoes For Men',
 'Mesh Sports Walking Shoes For Men',
 'Socks Stylish Cricket , Walking Shoes , Light Weight Sp...',
 'Future-01 running shoes For Men',
 'Worldcup-03 Running shoes for boys | sports shoes for m...',
 'Jio-13 Running Shoes For Men',
 'Classic Suede Footwear Loafers For Men',
 'COURTKING2 Badminton Shoes For Men',
 'Oxygen Running Shoes For Men',
 'Skypy-31 Walking Shoes,Training Shoes,Sneakers,Loafers,...',
 'Walking Shoes For Men',
 'Casuals For Men',
 'Combo Pack of 4 Latest Collection Stylish Casual Loafer...',
 'Boxer-303 Sneakers For Men',
 'Fit-Man Slip On Sneakers For Men',
 'STRIDE RUNNER Running Shoes For Women',
 'Running Shoes For Men',
 'Adi-Pace M Running Shoes For Men',
 'Zod Runner V3 IDP Running Shoes For Men',
 'Smash Badminton Shoes For Men',
 'Running Shoes For Men',
 'MCW-145 Running Shoes For Men',
 'GORUNFAST-QUAKE Running Shoes For Men',
 "Airsocks-12 Men's Flyknit Socks Sneakers,Ultra-lightwei...",
 'Casual sneakers and loafers shoes Combo(MR)-1720-1243 (...',
 'SOCKS Casuals For Men',
 'Casuals, Canvas, Partywear Sneakers For Men',
 'Outdoor Casual Boots for Mens Boots For Men',
 'Combo Pack Of 2 Casual Shoes Slip On Sneakers For Men',
 '5011-Latest Collection Stylish Casual Loafer Sneakers S...',
 'Perfect Stylish Girls Casual Shoes Sneakers For Women',
 'TRAVELLAR LP Running Shoes For Men',
 'sports shoes for men | Latest Stylish Casual sneakers f...',
 'SOCKS Running Shoes For Men']

In [213]:
r=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
for i in r:
    Pr.append(i.text)
Pr

['₹424',
 '₹1,047',
 '₹299',
 '₹498',
 '₹679',
 '₹365',
 '₹4,995',
 '₹310',
 '₹474',
 '₹426',
 '₹779',
 '₹629',
 '₹1,479',
 '₹399',
 '₹426',
 '₹318',
 '₹350',
 '₹599',
 '₹341',
 '₹584',
 '₹699',
 '₹474',
 '₹538',
 '₹426',
 '₹640',
 '₹398',
 '₹1,259',
 '₹499',
 '₹764',
 '₹318',
 '₹398',
 '₹474',
 '₹2,499',
 '₹549',
 '₹404',
 '₹284',
 '₹424',
 '₹449',
 '₹1,047',
 '₹499',
 '₹424',
 '₹1,047',
 '₹299',
 '₹498',
 '₹679',
 '₹365',
 '₹4,995',
 '₹310',
 '₹474',
 '₹426',
 '₹779',
 '₹629',
 '₹1,479',
 '₹399',
 '₹426',
 '₹318',
 '₹350',
 '₹599',
 '₹341',
 '₹584',
 '₹699',
 '₹474',
 '₹538',
 '₹426',
 '₹640',
 '₹398',
 '₹1,259',
 '₹499',
 '₹764',
 '₹318',
 '₹398',
 '₹474',
 '₹2,499',
 '₹549',
 '₹404',
 '₹284',
 '₹424',
 '₹449',
 '₹1,047',
 '₹499',
 '₹379',
 '₹640',
 '₹349',
 '₹399',
 '₹299',
 '₹399',
 '₹474',
 '₹1,349',
 '₹497',
 '₹584',
 '₹1,253',
 '₹474',
 '₹569',
 '₹426',
 '₹426',
 '₹474',
 '₹284',
 '₹255',
 '₹1,322',
 '₹318',
 '₹2,599',
 '₹1,579',
 '₹1,393',
 '₹549',
 '₹299',
 '₹2,649',
 '₹629',
 '₹399',
 '₹498',
 '₹499',
 '₹426',
 '₹424',
 '₹538',
 '₹407',
 '₹299',
 '₹216',
 '₹255',
 '₹1,559',
 '₹379',
 '₹499']

In [214]:
l=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
for i in l:
    di.append(i.text)
di

['57% off',
 '65% off',
 '70% off',
 '50% off',
 '15% off',
 '63% off',
 '68% off',
 '52% off',
 '57% off',
 '2% off',
 '37% off',
 '63% off',
 '60% off',
 '57% off',
 '68% off',
 '64% off',
 '72% off',
 '65% off',
 '41% off',
 '82% off',
 '5% off',
 '46% off',
 '57% off',
 '57% off',
 '60% off',
 '55% off',
 '16% off',
 '41% off',
 '68% off',
 '60% off',
 '52% off',
 '50% off',
 '65% off',
 '59% off',
 '43% off',
 '57% off',
 '55% off',
 '65% off',
 '50% off',
 '57% off',
 '65% off',
 '70% off',
 '50% off',
 '15% off',
 '63% off',
 '68% off',
 '52% off',
 '57% off',
 '2% off',
 '37% off',
 '63% off',
 '60% off',
 '57% off',
 '68% off',
 '64% off',
 '72% off',
 '65% off',
 '41% off',
 '82% off',
 '5% off',
 '46% off',
 '57% off',
 '57% off',
 '60% off',
 '55% off',
 '16% off',
 '41% off',
 '68% off',
 '60% off',
 '52% off',
 '50% off',
 '65% off',
 '59% off',
 '43% off',
 '57% off',
 '55% off',
 '65% off',
 '50% off',
 '62% off',
 '57% off',
 '65% off',
 '60% off',
 '70% off',
 '60% off',
 '13% off',
 '32% off',
 '17% off',
 '41% off',
 '30% off',
 '52% off',
 '5% off',
 '57% off',
 '57% off',
 '76% off',
 '43% off',
 '80% off',
 '37% off',
 '68% off',
 '48% off',
 '60% off',
 '30% off',
 '65% off',
 '76% off',
 '50% off',
 '58% off',
 '60% off',
 '50% off',
 '50% off',
 '57% off',
 '57% off',
 '46% off',
 '59% off',
 '88% off',
 '56% off',
 '48% off',
 '48% off',
 '62% off',
 '50% off']

In [216]:
# Creating a dataframe for shoes. 
shoe=pd.DataFrame({})
shoe['Brand']=br[0:100]
shoe['Product_description']=Pd[0:100]
shoe['Price']=Pr[0:100]
shoe['Discount']=di[0:100]
shoe

,Brand,Product_description,Price,Discount
0,Kraasa,Climber Boots For Men,₹424,57% off
1,Puma,Ontario IDP Sneakers For Men,"₹1,047",65% off
2,GS,Party Casuals For Men,₹299,70% off
3,Swiggy,shoes For Mens Combo Running Shoes For Men,₹498,50% off
4,Campus,OXYFIT Casuals For Men,₹679,15% off
...,...,...,...,...
95,World Wear Footwear,Sneakers For Men,₹474,80% off
96,Oricum,Loafers For Men,₹284,37% off
97,BRUTON,Classic Suede Footwear Loafers For Men,₹255,68% off
98,REEBOK,Combo Pack Of 5 Casual Shoes Canvas Shoes For Men,"₹1,322",48% off
99,MILESWALKER,"SM-162 Navy Blue Walking Shoes,Training Shoes,...",₹318,60% off

In [220]:
driver.close()

# Q9. Scrape 100 shoes from myntra.com using filter price & and colour as black.

In [108]:
#Lets first connect to web driver
driver=webdriver.Chrome("C:\web driver\chromedriver.exe")

In [109]:
driver.get('https://www.myntra.com/shoes')

In [110]:
driver.find_element_by_xpath("//label[@class='common-customCheckbox']/div").click()

In [111]:
driver.find_element_by_xpath("//ul[@class='price-list']//li[2]").click()

In [112]:
#specifing the url of the webpage to be scraped
url='https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A249.0_6687.0_249.0%20TO%206687.0%2C6589.0_13059.0_6589.0%20TO%2013059.0'

In [113]:
br=[]
a=driver.find_elements_by_xpath("//h3[@class='product-brand']")
for i in a:
    br.append(i.text)
br

['Nike',
 'Puma',
 'Nike',
 'ADIDAS Originals',
 'Nike',
 'Nike',
 'Cole Haan',
 'Nike',
 'Nike',
 'ADIDAS',
 'Geox',
 'Nike',
 'ADIDAS Originals',
 'Nike',
 'Puma',
 'ADIDAS Originals',
 'Hush Puppies',
 'Cole Haan',
 'Nike',
 'Cole Haan',
 'Geox',
 'ADIDAS Originals',
 'Hush Puppies',
 'Geox',
 'ADIDAS Originals',
 'Geox',
 'Geox',
 'Hush Puppies',
 'Nike',
 'ADIDAS Originals',
 'ADIDAS Originals',
 'UNDER ARMOUR',
 'Nike',
 'ADIDAS',
 'Hush Puppies',
 'Cole Haan',
 'ADIDAS Originals',
 'Geox',
 'Cole Haan',
 'Nike',
 'Geox',
 'Cole Haan',
 'Geox',
 'Kenneth Cole',
 'Kenneth Cole',
 'Heel & Buckle London',
 'UNDER ARMOUR',
 'Geox',
 'Geox',
 'Geox']

In [114]:
descrp=[]
b=driver.find_elements_by_xpath("//h4[@class='product-product']")
for i in b:
    descrp.append(i.text)
descrp

['Men AIR MAX 90 Sneakers',
 'Men HYBRID NETFIT Running Shoe',
 'PEGASUS FLYEASE Running Shoes',
 'Men Nite Jogger Fluid Sneakers',
 'Men AIR ZOOM VOMERO Running',
 'Men JORDAN DELTA Basketball',
 'Women Leather Sneakers',
 'Men JOYRIDE Running Shoes',
 'AIR ZOOM PEGASUS Running Shoes',
 'Men SOLAR DRIVE 19 M Running',
 'Men Leather Driving Shoes',
 'Women PEGASUS 37 Running Shoes',
 'Women Swift Run Sneakers',
 'Men React Infinity Running',
 'Men SPEED 500 2 Running Shoes',
 'Men Solid NMD_R1 Sneakers',
 'Men Solid Leather Formal Slip-Ons',
 'Men Solid Sneakers',
 'Women AIR ZOOM Running Shoes',
 'Men GENERATION ZEROGRAND STITCHLITE',
 'Men Leather Sneakers',
 'Men NITE JOGGER Sneakers',
 'Men Leather Slip-On Sneakers',
 'Men Leather Driving Shoes',
 'Men Superstar Sneakers',
 'Men Leather Formal Derbys',
 'Men Solid Leather Sneakers',
 'Men Colourblocked Driving Shoes',
 'Women REACT Running Shoes',
 'Women DEERUPT Runner Sneakers',
 'Men YUNG-1 Sneakers',
 'HOVR Guardian 2 Sports Shoes',
 'Men AIR ZOOM Running Shoes',
 'Men ALPHATORSION Running Shoes',
 'Men Solid Slip-On Sneakers',
 'Leather Sneakers',
 'Men Superstar Vegan Sneakers',
 'Women Sequinned Sneakers',
 'Men Traveller Leather Penny Loafers',
 'Men KD13 EP Basketball Shoes',
 'Men Leather Formal Oxfords',
 'Men Wingtip Oxford Sneakers',
 'Men Leather Formal Oxfords',
 'Women Solid Flat Boots',
 'Women LeatherSneakers',
 'Men Leather Formal Oxfords',
 'Men HOVR Strt Walking Shoes',
 'Women Slip-On Sneakers',
 'Women Leather Ballerinas',
 'Women Leather Ballerinas']

In [115]:
pr=[]
n=driver.find_elements_by_xpath("//div[@class='product-price']//span[1]")
for i in n:
    pr.append(i.text)
pr

['Rs. 7927Rs. 10295',
 'Rs. 7927',
 'Rs. 6599Rs. 10999',
 'Rs. 6599',
 'Rs. 7496Rs. 9995',
 'Rs. 7496',
 'Rs. 10399Rs. 12999',
 'Rs. 10399',
 'Rs. 10796Rs. 13495',
 'Rs. 10796',
 'Rs. 12495',
 'Rs. 10999',
 'Rs. 11996Rs. 14995',
 'Rs. 11996',
 'Rs. 8621Rs. 11495',
 'Rs. 8621',
 'Rs. 8399Rs. 11999',
 'Rs. 8399',
 'Rs. 9999',
 'Rs. 7996Rs. 9995',
 'Rs. 7996',
 'Rs. 7999',
 'Rs. 11931Rs. 15495',
 'Rs. 11931',
 'Rs. 7999Rs. 9999',
 'Rs. 7999',
 'Rs. 9099Rs. 12999',
 'Rs. 9099',
 'Rs. 9999',
 'Rs. 8499Rs. 16999',
 'Rs. 8499',
 'Rs. 7496Rs. 9995',
 'Rs. 7496',
 'Rs. 11999',
 'Rs. 9999',
 'Rs. 11199Rs. 13999',
 'Rs. 11199',
 'Rs. 6999',
 'Rs. 7999',
 'Rs. 8799Rs. 10999',
 'Rs. 8799',
 'Rs. 11490',
 'Rs. 11999',
 'Rs. 8999',
 'Rs. 8636Rs. 11995',
 'Rs. 8636',
 'Rs. 8999',
 'Rs. 6819Rs. 10999',
 'Rs. 6819',
 'Rs. 11999',
 'Rs. 7721Rs. 10295',
 'Rs. 7721',
 'Rs. 7499Rs. 9999',
 'Rs. 7499',
 'Rs. 6999',
 'Rs. 10999',
 'Rs. 6799Rs. 7999',
 'Rs. 6799',
 'Rs. 9999',
 'Rs. 9999Rs. 19999',
 'Rs. 9999',
 'Rs. 9746Rs. 12995',
 'Rs. 9746',
 'Rs. 10490',
 'Rs. 12999',
 'Rs. 12490',
 'Rs. 9513Rs. 13590',
 'Rs. 9513',
 'Rs. 7343Rs. 10490',
 'Rs. 7343',
 'Rs. 7693Rs. 10990',
 'Rs. 7693',
 'Rs. 9999',
 'Rs. 8499',
 'Rs. 8499',
 'Rs. 8499']

In [116]:
price=[]
for i in pr:
    if len(i)<9:
        price.append(i)
price

['Rs. 7927',
 'Rs. 6599',
 'Rs. 7496',
 'Rs. 8621',
 'Rs. 8399',
 'Rs. 9999',
 'Rs. 7996',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 9099',
 'Rs. 9999',
 'Rs. 8499',
 'Rs. 7496',
 'Rs. 9999',
 'Rs. 6999',
 'Rs. 7999',
 'Rs. 8799',
 'Rs. 8999',
 'Rs. 8636',
 'Rs. 8999',
 'Rs. 6819',
 'Rs. 7721',
 'Rs. 7499',
 'Rs. 6999',
 'Rs. 6799',
 'Rs. 9999',
 'Rs. 9999',
 'Rs. 9746',
 'Rs. 9513',
 'Rs. 7343',
 'Rs. 7693',
 'Rs. 9999',
 'Rs. 8499',
 'Rs. 8499',
 'Rs. 8499']

In [117]:
len(price)

35

In [118]:
driver.find_element_by_xpath("//li[@class='pagination-next']/a").click()

In [119]:
#specifying the url of the webpage to be scraped from the website.
url1='https://www.myntra.com/shoes?f=Color%3ABlack_36454f&p=2&plaEnabled=false&rf=Price%3A249.0_6687.0_249.0%20TO%206687.0%2C6589.0_13059.0_6589.0%20TO%2013059.0'

In [120]:
g=driver.find_elements_by_xpath("//h3[@class='product-brand']")
for i in g:
    br.append(i.text)
br

['Nike',
 'Puma',
 'Nike',
 'ADIDAS Originals',
 'Nike',
 'Nike',
 'Cole Haan',
 'Nike',
 'Nike',
 'ADIDAS',
 'Geox',
 'Nike',
 'ADIDAS Originals',
 'Nike',
 'Puma',
 'ADIDAS Originals',
 'Hush Puppies',
 'Cole Haan',
 'Nike',
 'Cole Haan',
 'Geox',
 'ADIDAS Originals',
 'Hush Puppies',
 'Geox',
 'ADIDAS Originals',
 'Geox',
 'Geox',
 'Hush Puppies',
 'Nike',
 'ADIDAS Originals',
 'ADIDAS Originals',
 'UNDER ARMOUR',
 'Nike',
 'ADIDAS',
 'Hush Puppies',
 'Cole Haan',
 'ADIDAS Originals',
 'Geox',
 'Cole Haan',
 'Nike',
 'Geox',
 'Cole Haan',
 'Geox',
 'Kenneth Cole',
 'Kenneth Cole',
 'Heel & Buckle London',
 'UNDER ARMOUR',
 'Geox',
 'Geox',
 'Geox',
 'ADIDAS',
 'Cole Haan',
 'Kenneth Cole',
 'Hush Puppies',
 'DIESEL',
 'Nike',
 'Kenneth Cole',
 'Hush Puppies',
 'Hush Puppies',
 'Puma',
 'Nike',
 'Kenneth Cole',
 'Geox',
 'Kenneth Cole',
 'UNDER ARMOUR',
 'Cole Haan',
 'Saint G',
 'Kenneth Cole',
 'Kenneth Cole',
 'Xtep',
 'Cole Haan',
 'ADIDAS Originals',
 'Puma',
 'ADIDAS Originals',
 'Reebok',
 'Ruosh',
 'Hush Puppies',
 'Reebok',
 'Geox',
 'Heel & Buckle London',
 'Ruosh',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Reebok',
 'Puma',
 'UNDER ARMOUR',
 'Ruosh',
 'UNDER ARMOUR',
 'Ruosh',
 'UNDER ARMOUR',
 'FILA',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Geox',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Geox',
 'Hush Puppies',
 'Saint G',
 'Geox']

In [121]:
t=driver.find_elements_by_xpath("//h4[@class='product-product']")
for i in t:
    descrp.append(i.text)
descrp

['Men AIR MAX 90 Sneakers',
 'Men HYBRID NETFIT Running Shoe',
 'PEGASUS FLYEASE Running Shoes',
 'Men Nite Jogger Fluid Sneakers',
 'Men AIR ZOOM VOMERO Running',
 'Men JORDAN DELTA Basketball',
 'Women Leather Sneakers',
 'Men JOYRIDE Running Shoes',
 'AIR ZOOM PEGASUS Running Shoes',
 'Men SOLAR DRIVE 19 M Running',
 'Men Leather Driving Shoes',
 'Women PEGASUS 37 Running Shoes',
 'Women Swift Run Sneakers',
 'Men React Infinity Running',
 'Men SPEED 500 2 Running Shoes',
 'Men Solid NMD_R1 Sneakers',
 'Men Solid Leather Formal Slip-Ons',
 'Men Solid Sneakers',
 'Women AIR ZOOM Running Shoes',
 'Men GENERATION ZEROGRAND STITCHLITE',
 'Men Leather Sneakers',
 'Men NITE JOGGER Sneakers',
 'Men Leather Slip-On Sneakers',
 'Men Leather Driving Shoes',
 'Men Superstar Sneakers',
 'Men Leather Formal Derbys',
 'Men Solid Leather Sneakers',
 'Men Colourblocked Driving Shoes',
 'Women REACT Running Shoes',
 'Women DEERUPT Runner Sneakers',
 'Men YUNG-1 Sneakers',
 'HOVR Guardian 2 Sports Shoes',
 'Men AIR ZOOM Running Shoes',
 'Men ALPHATORSION Running Shoes',
 'Men Solid Slip-On Sneakers',
 'Leather Sneakers',
 'Men Superstar Vegan Sneakers',
 'Women Sequinned Sneakers',
 'Men Traveller Leather Penny Loafers',
 'Men KD13 EP Basketball Shoes',
 'Men Leather Formal Oxfords',
 'Men Wingtip Oxford Sneakers',
 'Men Leather Formal Oxfords',
 'Women Solid Flat Boots',
 'Women LeatherSneakers',
 'Men Leather Formal Oxfords',
 'Men HOVR Strt Walking Shoes',
 'Women Slip-On Sneakers',
 'Women Leather Ballerinas',
 'Women Leather Ballerinas',
 'Men Gametalker Basketball',
 'Women Woven Design Sneakers',
 '',
 'Men Solid Leather Formal Slip-Ons',
 'Men DANNY LC Sneakers',
 'Women AIR MAX VERONA Sneakers',
 'Men Leather Formal Derbys',
 'Men Textured Oxfords',
 'Men Leather Slip-On Sneakers',
 'Men Running Shoes',
 'Men JORDAN DELTA Sneakers',
 'Men Formal Derbys',
 'Men Leather Driving Shoes',
 'Men Formal Derbys',
 'Men HOVR Sonic 3 Running Shoes',
 'Men Formal Leather Brogues',
 'Leather Heeled Boots',
 'Men Solid Leather Formal Oxfords',
 'Men Leather Driving Shoes',
 'Men Running Shoes',
 'Women Leather Sneakers',
 'Women Swift Run Sneakers',
 'Unisex Running Shoes',
 'Women DEERUPT Runner Sneakers',
 'Forever Floatride Energy 2',
 'Men Formal Brogues',
 'Men Leather Loafers',
 'Women Flexagon Training Shoes',
 'Men Leather Formal Derbys',
 'Women Leather Pumps',
 'Men Solid Leather Formal Monks',
 'Charged Impulse Running Shoes',
 'HOVR Sonic 3 Running Shoes',
 'Women LIQUIFECT 180 LS Running',
 'SPEED Orbiter Running Shoes',
 'Women Charged Breathe TR 2',
 'Men Leather Slip-On Shoes',
 'Women Liquify Rebel Running',
 'Men Textured Derbys',
 'Charged Impulse Running Shoes',
 'Men Solid Sneakers',
 'Women TriBase Reign 2 Training',
 'Women HOVR Rise 2 Training',
 'Women Leather Pumps',
 'HOVR Sonic 3 Running Shoes',
 'Men HOVR CTW Sneakers',
 'Women Solid Flatforms',
 'Men Solid Leather Formal Derbys',
 'Women Leather Heeled Boots',
 'Women Solid Leather Pumps']

In [122]:
len(descrp)

100

In [123]:
n=driver.find_elements_by_xpath("//div[@class='product-price']//span[1]")
for i in n:
    pr.append(i.text)
pr

['Rs. 7927Rs. 10295',
 'Rs. 7927',
 'Rs. 6599Rs. 10999',
 'Rs. 6599',
 'Rs. 7496Rs. 9995',
 'Rs. 7496',
 'Rs. 10399Rs. 12999',
 'Rs. 10399',
 'Rs. 10796Rs. 13495',
 'Rs. 10796',
 'Rs. 12495',
 'Rs. 10999',
 'Rs. 11996Rs. 14995',
 'Rs. 11996',
 'Rs. 8621Rs. 11495',
 'Rs. 8621',
 'Rs. 8399Rs. 11999',
 'Rs. 8399',
 'Rs. 9999',
 'Rs. 7996Rs. 9995',
 'Rs. 7996',
 'Rs. 7999',
 'Rs. 11931Rs. 15495',
 'Rs. 11931',
 'Rs. 7999Rs. 9999',
 'Rs. 7999',
 'Rs. 9099Rs. 12999',
 'Rs. 9099',
 'Rs. 9999',
 'Rs. 8499Rs. 16999',
 'Rs. 8499',
 'Rs. 7496Rs. 9995',
 'Rs. 7496',
 'Rs. 11999',
 'Rs. 9999',
 'Rs. 11199Rs. 13999',
 'Rs. 11199',
 'Rs. 6999',
 'Rs. 7999',
 'Rs. 8799Rs. 10999',
 'Rs. 8799',
 'Rs. 11490',
 'Rs. 11999',
 'Rs. 8999',
 'Rs. 8636Rs. 11995',
 'Rs. 8636',
 'Rs. 8999',
 'Rs. 6819Rs. 10999',
 'Rs. 6819',
 'Rs. 11999',
 'Rs. 7721Rs. 10295',
 'Rs. 7721',
 'Rs. 7499Rs. 9999',
 'Rs. 7499',
 'Rs. 6999',
 'Rs. 10999',
 'Rs. 6799Rs. 7999',
 'Rs. 6799',
 'Rs. 9999',
 'Rs. 9999Rs. 19999',
 'Rs. 9999',
 'Rs. 9746Rs. 12995',
 'Rs. 9746',
 'Rs. 10490',
 'Rs. 12999',
 'Rs. 12490',
 'Rs. 9513Rs. 13590',
 'Rs. 9513',
 'Rs. 7343Rs. 10490',
 'Rs. 7343',
 'Rs. 7693Rs. 10990',
 'Rs. 7693',
 'Rs. 9999',
 'Rs. 8499',
 'Rs. 8499',
 'Rs. 8499',
 'Rs. 6999',
 'Rs. 7499Rs. 14999',
 'Rs. 7499',
 'Rs. 7413Rs. 10590',
 'Rs. 7413',
 'Rs. 8999',
 'Rs. 9093Rs. 13990',
 'Rs. 9093',
 'Rs. 7496Rs. 9995',
 'Rs. 7496',
 'Rs. 7413Rs. 10590',
 'Rs. 7413',
 'Rs. 6999',
 'Rs. 9999',
 'Rs. 6749Rs. 7499',
 'Rs. 6749',
 'Rs. 8796Rs. 10995',
 'Rs. 8796',
 'Rs. 7413Rs. 10590',
 'Rs. 7413',
 'Rs. 9999',
 'Rs. 7413Rs. 10590',
 'Rs. 7413',
 'Rs. 10999',
 'Rs. 9999Rs. 19999',
 'Rs. 9999',
 'Rs. 11800',
 'Rs. 9513Rs. 13590',
 'Rs. 9513',
 'Rs. 8953Rs. 12790',
 'Rs. 8953',
 'Rs. 9349Rs. 10999',
 'Rs. 9349',
 'Rs. 10999',
 'Rs. 7999',
 'Rs. 7499Rs. 9999',
 'Rs. 7499',
 'Rs. 8999',
 'Rs. 6999Rs. 9999',
 'Rs. 6999',
 'Rs. 6990',
 'Rs. 6999',
 'Rs. 7999',
 'Rs. 11490',
 'Rs. 7192Rs. 8990',
 'Rs. 7192',
 'Rs. 6990',
 'Rs. 7999',
 'Rs. 10999',
 'Rs. 8999',
 'Rs. 9749Rs. 12999',
 'Rs. 9749',
 'Rs. 7999',
 'Rs. 6990',
 'Rs. 8999',
 'Rs. 8990',
 'Rs. 7999',
 'Rs. 7499',
 'Rs. 11999',
 'Rs. 9999',
 'Rs. 9999',
 'Rs. 10999',
 'Rs. 8499Rs. 9999',
 'Rs. 8499',
 'Rs. 8999',
 'Rs. 9999',
 'Rs. 7600',
 'Rs. 6999']

In [124]:
for i in pr:
    if len(i)<9:
        price.append(i)
price[0:100]

['Rs. 7927',
 'Rs. 6599',
 'Rs. 7496',
 'Rs. 8621',
 'Rs. 8399',
 'Rs. 9999',
 'Rs. 7996',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 9099',
 'Rs. 9999',
 'Rs. 8499',
 'Rs. 7496',
 'Rs. 9999',
 'Rs. 6999',
 'Rs. 7999',
 'Rs. 8799',
 'Rs. 8999',
 'Rs. 8636',
 'Rs. 8999',
 'Rs. 6819',
 'Rs. 7721',
 'Rs. 7499',
 'Rs. 6999',
 'Rs. 6799',
 'Rs. 9999',
 'Rs. 9999',
 'Rs. 9746',
 'Rs. 9513',
 'Rs. 7343',
 'Rs. 7693',
 'Rs. 9999',
 'Rs. 8499',
 'Rs. 8499',
 'Rs. 8499',
 'Rs. 7927',
 'Rs. 6599',
 'Rs. 7496',
 'Rs. 8621',
 'Rs. 8399',
 'Rs. 9999',
 'Rs. 7996',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 9099',
 'Rs. 9999',
 'Rs. 8499',
 'Rs. 7496',
 'Rs. 9999',
 'Rs. 6999',
 'Rs. 7999',
 'Rs. 8799',
 'Rs. 8999',
 'Rs. 8636',
 'Rs. 8999',
 'Rs. 6819',
 'Rs. 7721',
 'Rs. 7499',
 'Rs. 6999',
 'Rs. 6799',
 'Rs. 9999',
 'Rs. 9999',
 'Rs. 9746',
 'Rs. 9513',
 'Rs. 7343',
 'Rs. 7693',
 'Rs. 9999',
 'Rs. 8499',
 'Rs. 8499',
 'Rs. 8499',
 'Rs. 6999',
 'Rs. 7499',
 'Rs. 7413',
 'Rs. 8999',
 'Rs. 9093',
 'Rs. 7496',
 'Rs. 7413',
 'Rs. 6999',
 'Rs. 9999',
 'Rs. 6749',
 'Rs. 8796',
 'Rs. 7413',
 'Rs. 9999',
 'Rs. 7413',
 'Rs. 9999',
 'Rs. 9513',
 'Rs. 8953',
 'Rs. 9349',
 'Rs. 7999',
 'Rs. 7499',
 'Rs. 8999',
 'Rs. 6999',
 'Rs. 6990',
 'Rs. 6999',
 'Rs. 7999',
 'Rs. 7192',
 'Rs. 6990',
 'Rs. 7999',
 'Rs. 8999',
 'Rs. 9749']

In [125]:
len(price)

113

In [126]:
shoe=pd.DataFrame({})
shoe['Brand']=br[0:100]
shoe['Product_description']=descrp[0:100]
shoe['Price']=price[0:100]
shoe

               Brand              Product_description     Price
0               Nike          Men AIR MAX 90 Sneakers  Rs. 7927
1               Puma   Men HYBRID NETFIT Running Shoe  Rs. 6599
2               Nike    PEGASUS FLYEASE Running Shoes  Rs. 7496
3   ADIDAS Originals   Men Nite Jogger Fluid Sneakers  Rs. 8621
4               Nike      Men AIR ZOOM VOMERO Running  Rs. 8399
..               ...                              ...       ...
95      UNDER ARMOUR            Men HOVR CTW Sneakers  Rs. 7192
96              Geox            Women Solid Flatforms  Rs. 6990
97      Hush Puppies  Men Solid Leather Formal Derbys  Rs. 7999
98           Saint G       Women Leather Heeled Boots  Rs. 8999
99              Geox        Women Solid Leather Pumps  Rs. 9749

[100 rows x 3 columns]

In [127]:
driver.close()

# Q10. Scrape data from amazon.in for laptops using  cpu type filter for Intel core i7 & Intel core i9.

In [123]:
#Lets first connect to web driver
driver=webdriver.Chrome("C:\web driver\chromedriver.exe")

In [124]:
driver.get('https://www.amazon.in/')

In [125]:
#finding element for laptop in search bar

driver.find_element_by_xpath("//div[@class='nav-search-field ']/input").send_keys('laptop')

In [126]:
#pressing the the search button.
driver.find_element_by_xpath("//div[@class='nav-search-submit nav-sprite']").click()

In [127]:
#using filter for cpu type 'intel core i7'
driver.find_element_by_xpath("//li[@aria-label='Intel Core i7']/span").click()

In [128]:
driver.find_element_by_xpath("//li[@aria-label='Intel Core i9']/span").click()

In [129]:
#specifing the url of the webpage to be scraped
url='https://www.amazon.in/s?k=laptop&i=computers&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&dc&qid=1613489526&rnid=12598141031&ref=sr_nr_p_n_feature_thirteen_browse-bin_17'

In [99]:
ti=[]
a=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
for i in a:
    ti.append(i.text)
ti

['Lenovo Yoga S940 Intel Core i7 10th Gen 14" UHD Ultra Thin and Light Laptop (16GB/1TB SSD/Windows10 Pro/MS Office/Iron Grey/1.2Kg), 81Q80037IN',
 'Mi Notebook Horizon Edition 14 Intel Core i5-10210U 10th Gen Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AR+Webcam',
 'Mi Notebook Horizon Edition 14 Intel Core i5-10210U 10th Gen Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AR+Webcam',
 'HP Pavilion x360 Touchscreen 2-in-1 FHD 14-inch Laptop (10th Gen Core i7-10510U/8GB/512GB SSD/Windows 10 Home/MS Office/Mineral Silver/1.58 kg), 14-dh1180tu',
 'Lenovo IdeaPad Gaming 3i 10th Gen Intel Core i7 15.6-inch FHD IPS Gaming Laptop (8GB/1TB HDD + 256 GB SSD/Windows 10/NVIDIA GTX 1650 4GB GDDR6/with M100 RGB Gaming Mouse/Onyx Black/2.2Kg), 81Y400VAIN',
 'HP 14 Thin & Light 14-inch FHD Laptop (11th Gen Intel i7-1165G7/8GB/512GB SSD/Windows 10/MS Office 2019/Alexa Built-in/Pale Gold/1.47 kg), 14s-dr2007TU',
 'HP Pavilion x360 Core i7 8th Gen 14-inch Touchscreen 2-in-1 FHD Thin and Light Laptop (16GB/512GB SSD/Windows 10/MS Office/2GB Graphics/Mineral Silver/1.59 kg), 14- dh0045TX',
 'Lenovo Legion 5i 10th Gen Intel Core i7 15.6 inch Full HD IPS Gaming Laptop (16GB/1TB HDD + 256GB SSD/Windows 10/120 Hz/NVIDIA GTX 1650 4GB GDDR6 Graphics/Phantom Black/2.3Kg), 82AU00KKIN',
 'ASUS ZenBook Pro Duo Intel Core i9-10980HK 10th Gen 15.6" 4K UHD OLED Touchscreen Laptop (32GB RAM/1TB NVMe SSD/Windows 10/6GB NVIDIA GeForce RTX 2060 Graphics/Celestial Blue/2.5 Kg), UX581LV-H2035T',
 'HP 14 10th Gen Intel Core i7 Ultra Thin and Light FHD Laptop (i7-1065G7/8GB/512GB SSD/Win 10/MS Office 2019/Natural Silver/1.46 Kg), 14s-DR1010TU',
 'Dell G3 3500 Gaming 15.6inch 120hz FHD Display Laptop (10th Gen i7-10750H / 8 GB / 512 SSD / GTX 1650 4GB / 1Yr Premium Warranty/ Win 10 + MS Office H&S 2019) D560250WIN9BE',
 'ASUS ROG Strix G17 17.3" FHD 120Hz Intel Core i7-10750H 10th Gen, GTX 1660Ti 6GB Graphics (16GB RAM/512GB NVMe SSD/Windows 10/Original Black/2.83 Kg), G712LU-H7015T + Xbox Game Pass for PC',
 'ASUS ROG Zephyrus M15 (2020), 15.6" 4K UHD, Intel Core i7-10750H 10th Gen, RTX 2060 GDDR6 6GB Graphics, Gaming Laptop (16GB RAM/1TB NVMe SSD/Windows 10/Prism Black/1.9 Kg), GU502LV-HC140T',
 'Dell G3 3500 Gaming15.6-inch FHD Laptop (10th Gen Core i7-10750H/8GB/512GB SSD/Windows 10 + MS Office/NVIDIA1650 Ti Graphics/Eclipse Black) D560123WIN9BE',
 'ASUS ZenBook Flip S OLED, Intel Evo Core i7-1165G7 11th Gen, 13.3-inch UHD Touch Thin and Light 2-in-1 Laptop (16GB/1TB SSD/Windows 10/Office 2019/Iris Xᵉ Graphics/Jade Black/1.2 kg), UX371EA-HL701TS',
 'ASUS ROG G703GI-E5148T 17.3-inch FHD 144Hz/3ms Gaming Laptop (8th Gen Intel Core i9-8950HK/64GB/2TB SSHD + 1.5TB NVMe SSD/Windows 10/GTX 1080 8GB Graphics/4.70 Kg), Aluminum',
 'Lenovo Legion Y540 Intel Core i7 9th Gen 15.6 inch FHD Gaming Laptop (8GB/1TB HDD + 256 GB SSD/Windows 10/4GB NVIDIA GTX 1650/Black/2.3Kg), 81SY00SUIN',
 'Lenovo Yoga S940 Intel Core i7 10th Gen 14" UHD Ultra Thin and Light Laptop (16GB/1TB SSD/Windows10 Pro/MS Office/Iron Grey/1.2Kg), 81Q80037IN',
 'ASUS ROG Zephyrus M15 (2020), 15.6" 4K UHD, Intel Core i7-10750H 10th Gen, RTX 2060 GDDR6 6GB Graphics, Gaming Laptop (16GB RAM/1TB NVMe SSD/Windows 10/Prism Black/1.9 Kg), GU502LV-HC018T',
 'ASUS VivoBook S S14 Intel Core i7-1165G7 11th Gen, 14-inch FHD Thin and Light Laptop (8GB RAM/512GB SSD + 32GB Optane Memory/Windows 10/Office 2019/Iris Xᵉ Graphics/Indie Black/1.4 Kg), S433EA-AM701TS',
 'MSI Gaming GL63 9SD-1044IN Intel Core i7-9750H 15.6-inch Laptop (8GB/1TB HDD + 256GB NVMe SSD/Windows 10 Home/GTX 1660 Ti, 6GB Graphics/Black/2.22Kg) 9S7-16P732-1044',
 'Dell Alienware m15(R3) 15.6-inch FHD Gaming Laptop (10th Gen Core i7-10750H/16GB/512GB SSD/Windows 10 Home & MS Office/6GB NVIDIA GTX 1660 Ti Graphics), Lunar Light',
 '(Renewed) Lenovo ThinkPad X1 Carbon 14-inch Laptop Thin,Powerful and Lightweight Core i7 6th Gen/8GB /256 GB SSD/Windows 10 Pro/MS Office 2019/More than 4 GB Intel HD Graphics,Backlit Keyboard),Black',
 'Acer Nitro 5 Intel i7 - 9th Gen 17.3-inch Display 1920 x 1080 Thin and Light Laptop (8GB Ram/1TB HDD/Window 10 Home/4GB NVIDIA GeForce GTX 1650 Graphics/Obsidian Black/ 2.7 kgs),AN517-51',
 'Acer Swift 3X 14" Full HD IPS Display Ultra Thin and Light Notebook (Intel i7 - 11th Gen/16 GB RAM+ 32GB Optane/512GB SSD/Win10/Microsoft Office 2019/Intel Iris Xe Max/Steam Blue/1.37 Kg), SF314-59',
 'Lenovo Yoga C940 Intel Core i7 10th Gen 14 inch UHD Thin and Light Laptop (16GB/1TB SSD/Windows 10/Office 2019/Mica/1.25Kg), 81Q9009XIN']

In [114]:
r=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")
urls=[i.get_attribute('href') for i in r[0:10]]
urls

['https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_atf_computers_sr_pg1_1?ie=UTF8&adId=A0629406460BZXPHQV48&url=%2FLenovo-81Q80037IN-I7-1065G7-Microsoft-Integrated%2Fdp%2FB083PDTQ3Q%2Fref%3Dsr_1_1_sspa%3Fdchild%3D1%26keywords%3Dlaptop%26qid%3D1613489526%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%257C16757432031%26rnid%3D12598141031%26s%3Dcomputers%26sr%3D1-1-spons%26psc%3D1&qualifier=1613489529&id=7415625750475802&widgetName=sp_atf',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_atf_computers_sr_pg1_1?ie=UTF8&adId=A03447302LYOYFK6IEWV8&url=%2FNotebook-Horizon-i5-10210U-Graphics-XMA1904-AR%2Fdp%2FB089F5JGM1%2Fref%3Dsr_1_2_sspa%3Fdchild%3D1%26keywords%3Dlaptop%26qid%3D1613489526%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%257C16757432031%26rnid%3D12598141031%26s%3Dcomputers%26sr%3D1-2-spons%26psc%3D1&qualifier=1613489529&id=7415625750475802&widgetName=sp_atf',
 'https://www.amazon.in/Notebook-Horizon-i5-10210U-Graphics-XMA1904-AR/dp/B089F5JGM1/ref=sr_1_3?dchild=1&keywords=laptop&qid=1613489526&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-3',
 'https://www.amazon.in/HP-Pavilion-Touchscreen-i7-10510U-14-dh1180tu/dp/B08GD8LQTY/ref=sr_1_4?dchild=1&keywords=laptop&qid=1613489526&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-4',
 'https://www.amazon.in/Lenovo-IdeaPad-15-6-inch-Windows-81Y400VAIN/dp/B08PV48PYW/ref=sr_1_5?dchild=1&keywords=laptop&qid=1613489526&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-5',
 'https://www.amazon.in/HP-14-inch-i7-1165G7-Windows-14s-dr2007TU/dp/B08N57LR4X/ref=sr_1_6?dchild=1&keywords=laptop&qid=1613489526&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-6',
 'https://www.amazon.in/HP-Pavilion-dh0045TX-i7-8565U-Graphics/dp/B07NMSWFS4/ref=sr_1_7?dchild=1&keywords=laptop&qid=1613489526&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-7',
 'https://www.amazon.in/Lenovo-Windows-Graphics-Phantom-82AU00KKIN/dp/B08JLSBJCW/ref=sr_1_8?dchild=1&keywords=laptop&qid=1613489526&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-8',
 'https://www.amazon.in/ASUS-i9-10980HK-Touchscreen-Celestial-UX581LV-H2035T/dp/B08CHDLVT1/ref=sr_1_9?dchild=1&keywords=laptop&qid=1613489526&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-9',
 'https://www.amazon.in/HP-Laptop-i7-1065G7-Natural-14s-DR1010TU/dp/B08H2V92WV/ref=sr_1_10?dchild=1&keywords=laptop&qid=1613489526&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-10']

In [117]:
from bs4 import BeautifulSoup

In [119]:
ra=[]
for i in urls:
    driver.get(i)
    soup=BeautifulSoup(driver.page_source,'html.parser')
    a=soup.find('div',attrs={'id':'averageCustomerReviews'})
    ra.append(a.find('i').find('span').text)
    
ra

['3.3 out of 5 stars',
 '4.2 out of 5 stars',
 '4.2 out of 5 stars',
 '3.5 out of 5 stars',
 '3.8 out of 5 stars',
 '4.0 out of 5 stars',
 '4.1 out of 5 stars',
 '4.2 out of 5 stars',
 '5.0 out of 5 stars',
 '3.4 out of 5 stars']

In [130]:
pr=[]
p=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in p:
    pr.append(i.text)
pr

['1,19,990',
 '50,999',
 '1,97,200',
 '5,22,077',
 '1,09,990',
 '75,482',
 '74,990',
 '77,990',
 '72,805',
 '82,990',
 '70,990',
 '50,999',
 '50,999',
 '49,999',
 '52,999',
 '39,889',
 '1,04,014',
 '85,990',
 '79,490',
 '48,999',
 '75,299',
 '1,49,099']

In [133]:
# Creating a dataframe 
laptop=pd.DataFrame({})
laptop['Title']=ti[0:10]
laptop['Rating']=ra[0:10]
laptop['Price']=pr[0:10]

laptop

,Title,Rating,Price
0,"Lenovo Yoga S940 Intel Core i7 10th Gen 14"" UH...",3.3 out of 5 stars,"1,19,990"
1,Mi Notebook Horizon Edition 14 Intel Core i5-1...,4.2 out of 5 stars,"50,999"
2,Mi Notebook Horizon Edition 14 Intel Core i5-1...,4.2 out of 5 stars,"1,97,200"
3,HP Pavilion x360 Touchscreen 2-in-1 FHD 14-inc...,3.5 out of 5 stars,"5,22,077"
4,Lenovo IdeaPad Gaming 3i 10th Gen Intel Core i...,3.8 out of 5 stars,"1,09,990"
5,HP 14 Thin & Light 14-inch FHD Laptop (11th Ge...,4.0 out of 5 stars,"75,482"
6,HP Pavilion x360 Core i7 8th Gen 14-inch Touch...,4.1 out of 5 stars,"74,990"
7,Lenovo Legion 5i 10th Gen Intel Core i7 15.6 i...,4.2 out of 5 stars,"77,990"
8,ASUS ZenBook Pro Duo Intel Core i9-10980HK 10t...,5.0 out of 5 stars,"72,805"
9,HP 14 10th Gen Intel Core i7 Ultra Thin and Li...,3.4 out of 5 stars,"82,990"

In [134]:
driver.close()